---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>VENUE INFORMATION</title>
  {% include head-tags.html %}

  <!-- <style> -->
  <!--   #venue-information ul { -->
  <!--     list-style-type: disc; -->
  <!--     /* or circle, square */ -->
  <!--     margin-left: 20px; -->
  <!--   } -->

  <!--   #venue-information ul ul { -->
  <!--     list-style-type: circle; -->
  <!--     margin-left: 20px; -->
  <!--   } -->

  <!--   #venue-information ul ul ul { -->
  <!--     list-style-type: square; -->
  <!--     margin-left: 20px; -->
  <!--   } -->
  <!-- </style> -->
  

</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="VENUE INFORMATION" %}

  <section id="venue-information">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div>
              <h1>Points of interest</h1>
              <iframe style="width: 100%; height: 300px; border: 0;" allowfullscreen allow="geolocation" src="https://umap.openstreetmap.fr/en/map/debs-relevant-locations_1408382?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true&measureControl=true&locateControl=true"></iframe><p><a href="//umap.openstreetmap.fr/en/map/debs-relevant-locations_1408382?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=none&captionBar=false&captionMenus=true&measureControl=true&locateControl=true">See full screen</a></p>
              
              <h1>Public transportation system</h1>
              <p>Lisbon is served by
              an <a href="https://www.metrolisboa.pt/en/">unbyderground train</a>
              (in Portuguese "Metro")
              and <a href="https://carris.pt/en/">bus</a> network. It is also
              well served by taxis and rideshare services (Uber, Bolt, ...).
              Journeys can be paid using contactless bank cards. Cheapest
              travels use the <i>Navegante</i> card that can be charged multiple times
              either with individual journeys or with a cash amount. If charged
              with cash, the same card will allow you to use the train service
              to go to touristic locations like Sintra or Cascais (both at
              40m/45m by train). The <i>Navegante</i> card costs 0.50€ and is available
              on the ticket selling machines of Metro. Urban journeys cost
              between 1.72€ and 1.90€.</p>

              <p> There are Metro stations close to all of DEBS relevant places,
              including the Airport. Use Metro station "Campo Grande" to attend
              to technical sessions, lunches and the welcome reception. Use
              "Avenida" to go to the social event and "Rossio" for the DEBS
              dinner. The corresponding bus stops are named "Campo Grande
              Norte", "Av. Liberdade" and "Lg. Caldas". "Campo Pequeno" is the
                Metro station closer to Zurique and Berna hotels.</p>

              <p> You may also consider the use of the
              <a href="https://www.gira-bicicletasdelisboa.pt/en">GIRA Lisbon
                electric bike service</a>. There is a cycling path between the
                recommended hotels (Berna and Zurique) and the university
              campus.</p>

              <h1>DEBS Venue</h1>
              <p>DEBS will take place in the campus of Universidade de Lisboa in
              the Campo Grande area. Note that "Universidade de Lisboa" is
              dispersed by different places in the city and therefore don't use
              "Universidade de Lisboa" for looking for directions. Use "Cidade
              Universitária", "Faculdade de Ciências", FCUL or "Campo Grande"
                instead.</p>

              <p>"Campo Grande" itself is the name of a large street (+1.3km).
              The Metro station (also named Campo Grande) is on top of the
              street (see map above). The technical sessions will be on building
              "Caleidoscópio". From the Metro station go in the opposite
              direction of the football stadium, pass below the bridge and head
              to the garden in front. The Caleidoscópio building is on the
              garden and easily recognizable because it also hosts a McDonalds
                restaurant.</p>

              <p>The welcome reception will be on building C6, not visible from
              Caleidoscópio. Cross the road in front of McDonalds and enter on
              CIÊNCIAS ULisboa campus. Passing on the street between C2 and C7
              (100 Montaditos restaurant), C6 is the last (white) building to
                your right.</p>

              <p>Registration will be available on Caleidoscópio but also at the
                Welcome Reception location.</p>

              <h1>Reaching the venue</h1>
              <p>From Lisbon Airport, you can reach the conference location
              easily by public transport, taxi, or rideshare. The fastest option
              is a taxi or Uber/Bolt, which usually takes about 10–15 minutes
              depending on traffic. By metro, take the Red Line (Linha Vermelha)
              from the airport towards São Sebastião. At Alameda, change to the
              Green Line (Linha Verde) towards Telheiras and exit at Campo
              Grande. It is a short walk to the conference
              location near the McDonald’s in Campo Grande. Bus connections (no.
              783) are also available, though the metro is generally the most
              convenient option.</p>
              
              <h1>Practical information</h1>
              <ul>
                <li>Emergency number: 112</li>
                <li>Currency: Euro (€)</li>
                <li>National language: Portuguese but most locals will speak English</li>
                <li>Tips are optional</li>
                <li>Phone country code: +351</li>
                <li>Wifi (Eduroam and guest) networks will be available on conference premises</li>
              </ul>

              
              
              <h1>Venue Information</h1>
              <p>Located just minutes away from the
                Galway city Centre, University of Galway
                boasts wide range of venues for the
                conference, workshops, and various
                satellite events. The main conference
                will be in the ILAS Building, with seating
                for 363 delegates. It has separate
                auditorium, boardroom and 4 individual
                seminar rooms. It is equipped with
                compatible web conferencing tools, AV
                streams, projectors, Lectern, and echo
                cancelling microphones and speakers.​
                
                ​</p>
              <p>
                <img src="../img/Galway/fcul.jpg" />
              </p>
            
            </div>
            <div id="room">
              <h1>Campus Map</h1>
              <iframe allowfullscreen="true" width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://smart.campus.ciencias.ulisboa.pt/portal/apps/CEWebViewer/viewer.html?&3dWebScene=c03c15bd921e4c8589129795d48e2300&view=-88963.73,125.4,100740.78,-88652.86,303.66,100362.32,0.95&lyr=1,1,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,1,1,0,1,0,0,0,0,0,1,1,0,0,1,1,1,1,1,1&wkid=3763&v=2&autoplay&reducedUI"></iframe>
            </div>

        <!--       <h1>Conference Facilities</h1> -->

        <!--       <p>The conference will be held in the Samhällsbyggnad I-II (Arkitektur) building. The main entrance is -->
        <!--         located here: -->
        <!--       </p> -->
        <!--       <iframe -->
        <!--         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d801.501008709395!2d11.975596711616907!3d57.68736369913209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff30b9eae6c19%3A0x58f30fb72b8b06d3!2sArkitektur%2C%20Sven%20Hultins%20gata%206%2C%20412%2058%20G%C3%B6teborg!5e1!3m2!1sen!2sse!4v1741679568557!5m2!1sen!2sse" -->
        <!--         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" -->
        <!--         referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        <!--       <p>All sessions will be held in room SB-H8:</p> -->
        <!--       <img src="../img/venue/room.png" /> -->


        <!--       <h2>Connecting to the internet</h2> -->
        <!--       <p>Eudoroam is available for all of you who have access to it. Additionally, you can get login information -->
        <!--         for an alternative network at the registration desk.</p> -->


        <!--     </div> -->
        <!--     <div id="reception" style="margin-top: -90px; padding-top: 90px"> -->

        <!--       <h1>Reception</h1> -->

        <!--       <p>The reception will be hosted at the <a href="https://www.chalmersskahuset.se/" target="_blank" -->
        <!--           rel="noopener noreferrer">Chalmersska Huset</a>:</p> -->
        <!--       <img src="../img/goteborg/chalmersskahuset.webp" /> -->
        <!--       <p>Chalmersska Huset is located here:</p> -->
        <!--       <iframe -->
        <!--         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.448500523565!2d11.961071713111686!3d57.70568443980161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff366661be6fb%3A0x15afa0f8e432d635!2sChalmersska%20huset!5e1!3m2!1sen!2sse!4v1741764242572!5m2!1sen!2sse" -->
        <!--         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" -->
        <!--         referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        <!--       <h2>Reaching Chalmersska Huset</h2> -->
        <!--       <p>To reach Chalmersska Huset from Chalmers, once the last session is over, there are several options. -->
        <!--         Among those: you can take bus 16 from Chalmers (stop C) and get off at Domkyrkan. The trip takes around -->
        <!--         10 minutes, plus another 10 minutes for walking. Alternatively, you can take trams 7 or 10 (stop A) to -->
        <!--         Brunnsparken. The travelling and walking time are similar. If you prefer to walk, that will take -->
        <!--         approximately 25 minutes.</p> -->
        <!--     </div> -->

        <!--     <div id="galadinner"> -->

        <!--       <h1>Gala Dinner</h1> -->

        <!--       <p>The Gala Dinner will be hosted at the <a href="https://www.universeum.se/en" target="_blank" -->
        <!--           rel="noopener noreferrer">Universeum</a>:</p> -->
        <!--       <img src="../img/universeum.jpeg" /> -->
        <!--       <p>Universeum is located here:</p> -->
        <!--       <iframe -->
        <!--         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.2797983120636!2d11.985822113111247!3d57.69585074057562!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff39e0791ad9b%3A0x30ab0c07481829d4!2sUniverseum!5e1!3m2!1sen!2sse!4v1741679719226!5m2!1sen!2sse" -->
        <!--         width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" -->
        <!--         referrerpolicy="no-referrer-when-downgrade"></iframe> -->

        <!--       <h2>Reaching the Universeum</h2> -->
        <!--       <p>To reach the Universeum from Chalmers, once the last session is over, there are several options. -->
        <!--         Among those: you can take trams 6 or 8 (stop A) to -->
        <!--         Korsvägen. If you prefer to walk, that will take -->
        <!--         approximately 15 minutes.</p> -->
        <!--     </div> -->


        <!--     <div> -->

        <!--       <h1>Travel Information</h1> -->

        <!--       <h2>Reaching Gothenburg</h2> -->

        <!--       <h4>By plane:</h4> -->
        <!--       <ul> -->
        <!--         <li><b>Gothenburg Landvetter Airport</b> is conveniently located close to the center. -->
        <!--           For more travel information visit -->
        <!--           <a href="https://www.swedavia.com/landvetter/" target="_blank" rel="noopener noreferrer"> -->
        <!--             https://www.swedavia.com/landvetter/ -->
        <!--           </a> -->
        <!--         </li> -->
        <!--         <li>From Landvetter airport to the city center: -->
        <!--           <ul> -->
        <!--             <li>Airport buses - Flygbussarna -->
        <!--               <ul> -->
        <!--                 <li>It takes approximately 30 minutes to travel between the Landvetter airport and the city -->
        <!--                   center.</li> -->
        <!--                 <li>The bus stop by the central station is called “Nils Ericson Terminalen (Göteborg C)”.</li> -->
        <!--                 <li>You always buy the cheapest ticket online in advance on the Flygbussarna website or in the -->
        <!--                   Flygbussarna app. -->
        <!--                   You can also buy the ticket in a ticket machine or on board the bus (card payment only, no -->
        <!--                   cash).</li> -->
        <!--                 <li>For up-to-date information on prices and options please visit -->
        <!--                   <a href="https://www.flygbussarna.se/en/" target="_blank" -->
        <!--                     rel="noopener noreferrer">www.flygbussarna.se</a> -->
        <!--                 </li> -->
        <!--               </ul> -->
        <!--             </li> -->
        <!--             <li>Airport Taxi -->
        <!--               <ul> -->
        <!--                 <li>Costs approximately SEK 500-600 to/from Landvetter Airport. <b>Ask for a fixed price!</b> -->
        <!--                 </li> -->
        <!--                 <li>The driver should have a taxi ID card clearly displayed in the vehicle. -->
        <!--                   Service is included in the taximeter price. Avoid unlicensed taxis.</li> -->
        <!--                 <li>We recommend: -->
        <!--                   <ul> -->
        <!--                     <li><a href="https://www.taxigoteborg.se/en" target="_blank" rel="noopener noreferrer">Taxi -->
        <!--                         Göteborg</a>: +46 (0)31 650 00</li> -->
        <!--                     <li><a href="https://www.taxikurir.se/goteborg" target="_blank" -->
        <!--                         rel="noopener noreferrer">Taxi Kurir</a>: +46 (0)31 27 27 27</li> -->
        <!--                   </ul> -->
        <!--                 </li> -->
        <!--               </ul> -->
        <!--             </li> -->
        <!--           </ul> -->
        <!--         </li> -->
        <!--       </ul> -->

        <!--       <h4>By train:</h4> -->
        <!--       <ul> -->
        <!--         <li><b>Gothenburg Central Station</b> is the hub for the city's rail and bus traffic. -->
        <!--         </li> -->
        <!--         <li>You can find the train connections on: -->
        <!--           <ul> -->
        <!--             <li>SJ Swedish railways: <a href="https://www.sj.se/en" target="_blank" -->
        <!--                 rel="noopener noreferrer">www.sj.se</a></li> -->
        <!--             <li>MTR Express: <a href="https://vrresa.se/en" target="_blank" -->
        <!--                 rel="noopener noreferrer">https://vrresa.se</a></li> -->
        <!--           </ul> -->
        <!--         </li> -->
        <!--         <li>Exit the train at the central station/the Nils Ericson terminal. To reach Chalmers, take bus 16 -->
        <!--           (Destination: Högsbohöjd) from Nordstan outside the terminal or take tram 13 (Destination: -->
        <!--           Sahlgrenska) from Drottningstorget just outside the central station. Alternatively, there are -->
        <!--           additional tram lines from Brunnsparken, approximately 500 meters from the central station. Please -->
        <!--           visit <a href="https://www.vasttrafik.se/en/" target="_blank" rel="noopener noreferrer">Västtrafik</a> -->
        <!--           for details.</li> -->
        <!--       </ul> -->

        <!--       <h2>Transportation to the venue: Chalmers (Campus Johanneberg)</h2> -->
        <!--       <p>By Tram or Bus: -->
        <!--       <p> -->
        <!--       <p><iframe -->
        <!--           src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.790982595856!2d11.971581413111013!3d57.68980324105158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464ff30cc3eb7a47%3A0xae59c1f00d74cd52!2sG%C3%B6teborg%20Chalmers!5e1!3m2!1sen!2sse!4v1741677313373!5m2!1sen!2sse" -->
        <!--           width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" -->
        <!--           referrerpolicy="no-referrer-when-downgrade"></iframe></p> -->
        <!--       <ul> -->
        <!--         <li>Address: Chalmersplatsen 1, Gothenburg</li> -->
        <!--         <li>Closest bus/tram stop: Chalmers</li> -->
        <!--         <li>Please visit <a href="https://www.vasttrafik.se/en/" target="_blank" -->
        <!--             rel="noopener noreferrer">Västtrafik</a> for details.</li> -->
        <!--       </ul> -->


        <!--       <h2>Getting around town</h2> -->
        <!--       <ul> -->
        <!--         <li>You can buy a day card or 3 day card ticket in most convenience stores such as Pressbyrån, 7-eleven -->
        <!--           etc.</li> -->
        <!--         <li>You can pay with credit card on the trams but not on the bus (then you have to buy a ticket in -->
        <!--           advance).</li> -->
        <!--         <li><b>Please note that cash is NOT accepted in buses or trams. Credit card is accepted as payment -->
        <!--             method on trams and the airport-bus. For buses, you need to pre-buy your ticket in a convenience -->
        <!--             store.</b></li> -->
        <!--         <li>Please visit <a href="https://www.goteborg.com/en/guides/getting-around-town" target="_blank" -->
        <!--             rel="noopener noreferrer">https://www.goteborg.com/en/guides/getting-around-town</a> for more -->
        <!--           information.<br></li> -->
        <!--       </ul> -->


        <!--     </div> -->

          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
