---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="kv3r0atef67CH3yWGPQBFFF7oE4EX_xu_dC7aZYXM-o" />
  <title>DEBS 2026</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-home-page.html %}

  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div>

              <h1>News and Highlights</h1>

              <p>
                <li> The deadlines for the abstract submission have been extended to the 22nd of February</li>
                <li> The deadlines for the paper submission have been extended to the 1st of March </li>
                <li> The conference will be held in Lisbon! </li>
                <!-- <li><b>Note:</b>The PhD Symposium contributions are now available! Check <a class="text-left" -->
                <!--   href="/accepted-contributions/">here</a></li> -->
                <!-- <li><b>Note:</b>The submission and notification deadlines for the Doctoral Symposium have been extended by one week!</li> -->
                <!-- <li>An additional Keynote (by Amir Hossein Payberah), connected to the conference efforts towards Diversity and Inclusion, has been announced, check <a class="text-left" -->
                <!--   href="/keynote-speakers/#keynote5">Keynote speakers</a>.</li> -->
                <!-- <li><b>Note:</b>The deadline for early/author registration has been extended to the 15th of May 23.59 AoE</li> -->
                <!-- <li><b>Note:</b>The deadline for the paper notification for the Industry track have been extended to the 27th of April!</li> -->
                <!-- <li>An additional Keynote (by Georgia Koutrika) has been announced, check <a class="text-left" -->
                <!--   href="/keynote-speakers/">Keynote speakers</a>.</li> -->
                <!-- <li>Posters/Demos deadline extended: check the call <a href="/call-for-posters-and-demos/">here</a></li> -->
                <!-- <li>Camera ready instructions are now available <a href="/camera-ready-instructions/">here</a></li> -->
                <!-- <li>We have reserved a block of rooms specifically for the DEBS25 conference, please check <a href="/accommodation/">here</a>.</li> -->
                <!-- <li>Information about the RELAX 2025 Workshop on Relaxed Semantics in Data Analytics Pipelines is now available <a class="text-left" -->
                <!--   href="/workshops/">here</a></li> -->
                <!-- <li><b>Note:</b>The deadlines for the paper submission for the Industry track have been extended to the 6th of April!</li> -->
                <!-- <li><a class="text-left" -->
                <!--   href="/keynote-speakers/">Keynote speakers</a> announced!</li> -->
                <!-- <li><a class="text-left" -->
                <!--   href="/visa-information/">Visa</a>, <a class="text-left" -->
                <!--   href="/accommodation/">Accommodation</a>, and <a class="text-left" -->
                <!--   href="/venue-information/">Venue</a> information pages are now available.</li> -->
                <!-- <li>For the Grand Challenge, the online evaluation platform is now open!</li> -->
                <!-- <li>ACM SigSoft will support DEBS2025, Information <a class="text-left" -->
                <!--   href="/acm-support/">here</a>.</li> -->
                <!-- <li>Clarification on ACM Auxiliary Materials is available <a class="text-left" -->
                <!--   href="/acm-auxiliary-materials/">here</a>.</li> -->
                <!-- <li><b>Note:</b>The deadlines for the abstract and paper submission for the Research track have been extended to the 10th and 17th of February, respectively</li> -->
                <!-- <li>For the Grand Challenge, the online evaluation platform will open on the 15th of February 2025</li> -->
                <!-- <li>Information on ACM Artifacts Badges is available <a class="text-left" -->
                <!--     href="/acm-artifacts/">here</a>.</li> -->
                <!-- <li>Top-rated papers from the research track will be invited to submit an extended version of their work -->
                <!--   to the special issue for Elsevier's Information Systems on "Advances in Distributed Data Processing -->
                <!--   and Event-Based Systems"</li> -->
              </p>

            </div>
            <div class="section-title">
              <!-- <h1>Unveiling the Recipients of our Paper Awards 🏆</h1>
              <p>
                Congratulations to Kristo Raun, Riccardo Tommasini, and Ahmed Awad who have earned the Best Paper in the research track for their work <a href="https://dl.acm.org/doi/10.1145/3583678.3596887">I Will Survive:
                  An Event-driven Conformance Checking Approach Over Process Streams</a>.<br />
                In the Industry and Application Track, our congratulations go to João Esteves, Rosa Costa, Yongluan Zhou, and Ana
                Almeida as recipients of the Best Paper Award in the industry & application track for their work <a href="https://dl.acm.org/doi/10.1145/3583678.3596898">An exploratory analysis of methods for real-time data deduplication in streaming processes</a>.
              </p> -->

              <!-- <h1>The proceedings are online! 📖</h1>
              <p>
                We are pleased to announce that the proceedings from the conference are now accessible.
                Explore the full papers and more on the <a href="/proceedings/">proceedings</a> page.
              </p>

              <h1>Conference Program Now Available! 📽️</h1>
              <p>
                We are thrilled to announce the release of our conference program, featuring a detailed breakdown of all
                the paper presentations accepted for this event.
                Visit our <a href="/program-schedule/">program schedule</a> page to delve into it!
              </p> -->

              <h1>Venue Information</h1>

              <p>
                The 2026 DEBS Conference will be held in June at the Faculty of
                Sciences of the University of Lisbon, in Portugal.
              </p>

              <p>
                DEBS 2026 will be a physical conference. In order to appear in the final proceedings,
                all accepted contributions from all tracks are expected to be presented in person during the conference.
                For special inquiries, please contact the general chairs.
              </p>

              <p>
                For each accepted contribution, a full registration (i.e., not a student registration) is required, even if a student is the main author of the paper and/or is presenting at the conference. Additionally, student registrations must be validated as specified on the registration page.
              </p>

              <!--h2>IMPORTANT INFORMATION</h2>

              <p>
                Unfortunately, the tram T1 is currently out of service, but a substitution bus, BRT1 or C17, are available from Charpenne (30 min walk) or C26 from Gratte Ciel metro station (25 min walk).
                More information can be found at this <a href="https://www.tcl.fr/travaux-tramways/travaux-circulation-partielle-sur-les-lignes-t1-et-t4">page</a>.
              </p-->



              <h1>Objective</h1>
              <p>
                The ACM International Conference on Distributed and Event‐Based
                Systems (DEBS) is the premier venue for academia and industry to
                discuss cutting-edge research in distributed and event-based
                computing and data processing. DEBS 2026 will provide a forum
                for original research, practical insights, and experiences in
                distributed and event-based systems, with a focus on emerging
                trends and new challenges in the field.
              </p>

              <p> We solicit high-quality submissions across a range of topics,
                with different submission options to reflect the nature of each
                contribution. All submissions will undergo a rigorous peer
                review process.
              </p>
       
               
              <p>
                Topics covered by the conference include, but are not limited to:
              </p>

              <p>
                <b>Models, architectures and paradigms</b>: Complex event processing, event-driven
                architectures, trustworthy event-based systems, real-time analytics, intelligent event
                processing, event processing in big and fast data, data stream processing, security and
                encryption in stream processing, complex event forecasting, in-network processing,
                logic-based complex event recognition, online relational learning, distributed event
                pattern learning, event correlation, and pattern languages.
              </p>

              <p>
                <b>Systems and software</b>: Distributed data processing, distributed programming,
                federated event-based systems, AI/ML for event processing, information-centric
                networking, software-defined networking, security, reliability and resilience,
                distributed ledger and blockchains, programmable hardware, energy management, and green
                computing as well as cloud, fog, ubiquitous and mobile computing.
              </p>

              <p>
                <b>Applications</b>: Use cases, requirements, and applications of distributed and
                event-based systems in various domains including Internet-of-Things, life sciences,
                moving object applications, smart cities, cyber-physical systems, sensor networks,
                social networking, multimedia analytics, finance, healthcare and logistics, computer and
                network security, smart contracts, and blockchains. Also, relevant topics span
                enterprise-level computing, including enterprise application integration, real-time
                enterprises, event-based business process management, and support for enterprises to
                respond in a timely fashion to changing situations.
              </p>

              <h1 id="diversity">Diversity and Inclusion</h1>
              <p>The DEBS community joins an integrated effort to promote diversity and inclusion in all
                aspects of our professional activities. DEBS 2026 participates in this effort alongside EDBT/ICDT, MDM,
                SIGMOD, VLDB, SoCC, and ICDE, to celebrate the diversity in our community and welcome everyone
                regardless of age, sex, gender identity, race, ethnicity, socioeconomic background, country of origin,
                religion, sexual orientation, physical ability, education, work experience, etc. It also welcomes people
                and opinions of all political persuasions, as long as they abide by the ACM policy against hate speech
                and harassment. </p>

              <p>For more information visit the dedicated website: <a
                  href="https://dbdni.github.io">https://dbdni.github.io</a>.</p>

              <p>All submissions are encouraged to be prepared with D&I in mind following the
                suggestions in submission guidelines. If you have any comments, questions, suggestions, or complaints,
                please email the DEBS Diversity and Inclusion Chair (Genoveva Vargas-Solar)</p>

              
              <p> We follow the DB Diversity, Equity & Inclusion (DEI)
                initiative to ensure a welcoming conference experience for all participants,
                regardless of gender, culture, religion, ability, or other identities. Our
                concrete measures include accessibility/special-needs support,
                parenting/child-care facilitation, mentorship opportunities, and active work
                to surface and prevent discriminatory behaviour and language. Concerns can be
                reported confidentially under the ACM Policy Against Harassment and
                established reporting processes—see the full DEI Disclaimer
                here: <a href="/disclaimer/DEI-disclaimer-debs-2026.pdf">Read the
                  DEI Disclaimer.</a>
              </p>
              
              <h1 id="chair">General Co-Chairs</h1>
              <p>
                {% for chair in site.data.chairs.general_chairs %}
                <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>

        {% include side.html %}

      </div>

    </div>
    </div>
  </section>

  <section id="feature">
    <div class="container">
      <div class="row">
        <div id="feature-text" class="col-md-6 col-md-offset-0">
          <h2 class="text-uppercase">University of Lisbon</h2>
          <p>
            CIÊNCIAS celebrated its 1st centenary in 2011 and its history can be
            traced back to the creation of Portugal's first university, the
            University of Lisbon, in 1288.<br><br>

            It is recognised as one of the most prestigious teaching and
            research institutions in Portugal, particularly in the sciences and
            related areas. This recognition comes from the quality of its
            programmes, which include 17 bachelor's degrees, 40 master's degrees
            and 21 doctorates, reflected in an employability rate of 98%.<br><br>

            The Faculty is home to 13 research centres, recognised by the
            Foundation for Science and Technology, and stands out for its
            commitment to excellence in research and innovation. This commitment
            is evident in its per capita performance, which is the best in the
            University of Lisbon. The Tec Labs innovation centre, located on
            campus, is home to 35 start-ups, 6 of them international, with a
            focus on science and health.<br><br>        
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="clients-logo-section">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-6"><a href="https://www.acm.org" target="_blank"><img src="img/clients/acm_logo.svg"
              alt="ACM"></a></div>
        <div class="col-md-4 col-sm-6"><a href="https://sigmod.org" target="_blank"><img
              src="img/clients/sigmod_logo.png" alt="Sigmod"></a></div>
        <div class="col-md-4 col-sm-6"><a href="https://www.snowflake.com" target="_blank"><img
              src="img/clients/snowflake.png" alt="Snowflake"></a></div>
        <div class="col-md-4 col-sm-6"><a href="https://www.insa-lyon.fr" target="_blank"><img
              src="img/clients/insa.png" alt="Insa"></a></div>    
        <div class="col-md-4 col-sm-6"><a href="https://www.cnrs.fr" target="_blank"><img
              src="img/clients/cnrs.svg" alt="CNRS"></a></div> -->
        <!-- <div class="col-md-3 col-sm-6"><a href="https://www.cuso.ch/" target="_blank"><img
              src="img/clients/cuso_logo.png" alt="CUSO"></a></div> -->
        <!-- <div class="col-md-3 col-sm-6 col-md-offset-3"><a href="https://www.unine.ch/iiun" target="_blank"><img
              src="img/clients/unine_cs_logo.png" alt="University of Neuchâtel, Computer Science Institute"></a></div> -->
        <!-- <div class="col-md-3 col-sm-6"><a href="https://haslerstiftung.ch/en/" target="_blank"><img
              src="img/clients/hasler_stiftung_logo.svg" alt="Hasler Stiftung"></a></div> -->

        {% for sponsor in site.data.sponsors.gold_sponsors %}
        <div class="col-md-4 col-sm-6"><a href="{{sponsor.link}}" target="_blank"><img src="{{sponsor.logo}}"
              alt="{{sponsor.name}}"></a></div>
        {% endfor %}
        {% for sponsor in site.data.sponsors.silver_sponsors %}
        <div class="col-md-4 col-sm-6"><a href="{{sponsor.link}}" target="_blank"><img src="{{sponsor.logo}}"
              alt="{{sponsor.name}}"></a></div>
        {% endfor %}
        {% for sponsor in site.data.sponsors.bronze_sponsors %}
        <div class="col-md-4 col-sm-6"><a href="{{sponsor.link}}" target="_blank"><img src="{{sponsor.logo}}"
              alt="{{sponsor.name}}"></a></div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
