---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>ORGANIZING COMMITTEE</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="ORGANIZING COMMITTEE" %}

<section id = "organizing-committee">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div style="margin-bottom: 100px;">
            {% if site.data.chairs.general_chairs %}
            <h1>General Co-Chairs</h1>
            <ul>
            {% for chair in site.data.chairs.general_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.pc_chairs %}
            <h1>PC Co-Chairs</h1>
            <ul>
            {% for chair in site.data.chairs.pc_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.local_organizer_chairs %}
            <h1>Local Organization Chair</h1>
            <ul>
            {% for chair in site.data.chairs.local_organizer_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}  
              
            {% if site.data.chairs.industry_chairs %}
            <h1>Industry and Application Co-Chairs</h1>
            <ul>
            {% for chair in site.data.chairs.industry_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}
                
            {% if site.data.chairs.finance_chairs %}
            <h1>Finance Chair</h1>
            <ul>
            {% for chair in site.data.chairs.finance_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.grand_challenge_chairs %}
            <h1>Grand Challenge Co-Chairs</h1>
            <ul>
            {% for chair in site.data.chairs.grand_challenge_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.tutorials_workshop_chairs %}
            <h1>Tutorials/Workshop Co-Chairs</h1>
            <ul>
            {% for chair in site.data.chairs.tutorials_workshop_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.doctoral_symposium_chairs %}
            <h1>Doctoral Symposium Chair</h1>
            <ul>
            {% for chair in site.data.chairs.doctoral_symposium_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.poster_demo_chairs %}
            <h1>Poster and Demo Co-Chairs</h1>
            <ul>
            {% for chair in site.data.chairs.poster_demo_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.divesity_chairs %}
 						<h1>Diversity and Inclusion Chair</h1>
            <ul>
            {% for chair in site.data.chairs.diversity_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.publicity_chairs %}
            <h1>Publicity Chair</h1>
            <ul>
            {% for chair in site.data.chairs.publicity_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.proceeding_chairs %}
            <h1>Proceeding Chair</h1>
            <ul>
            {% for chair in site.data.chairs.proceeding_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% if site.data.chairs.web_chairs %}
 						<h1>Web Chair</h1>
            <ul>
            {% for chair in site.data.chairs.web_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            
            {% if site.data.chairs.podcast_chairs %}
 						<h1>Podcast Chair</h1>
            <ul>
            {% for chair in site.data.chairs.podcast_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            {% endif %}

          </div>
        </div>
      </div>

      {% include side.html %}

    </div>
  </div>
</section>

{% include footer.html %}
</body>
</html>
