---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>ACM ARTIFACTS BADGES</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="ACM ARTIFACTS BADGES" %}

  <section id="acm-artifacts">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div style="margin-bottom: 100px;">

              <div>
                <h1>Artifact Badging and Sharing for Accepted Contributions</h1>

                <p>
                 Authors of accepted contributions can opt for the <b>ACM
                 Artifacts Available</b> badge across the Research, Industry,
                 Demos.
                </p>
              </div>

              <div>
                <h1>Sharing Artifacts Upon Acceptance</h1>

                <p>
                  Upon acceptance of your submission, you will receive further details on how to share your artifacts. It is important to follow ACM’s guidelines regarding the use of <b>qualified archival repositories</b>, such as Zenodo, Figshare, or Dryad. Please note that personal webpages, GitHub repositories, or similar platforms do not qualify as they can be modified after the submission deadline. Archival repositories must also be publicly accessible. More information about ACM’s artifact policies is available <a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current">here</a>.
                </p>
              </div>

              <div>
                <h1>Artifacts Already Available? Let Us Know!</h1>

                <p>
                  If your solution is already available and shared as part of your submission, you can indicate this by ticking the corresponding checkbox on the submission page. This will notify reviewers that the artifacts are already accessible.
                </p>

                <p>
                  We encourage all authors to take advantage of this opportunity to enhance the impact and visibility of their contributions by sharing artifacts openly and transparently.
                </p>
              </div>

            </div>
          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
