<table class="table table-bordered table-hover text-center">
	<thead class="bg-gray">
		<tr>
			<th class="text-center">Events</th>
			<th class="text-center">Dates (AoE)</th>
		</tr>
	</thead>
	<tbody>

		<!--tr>
			<td>Abstract Submission for Research Track</td>
			<td>{% if site.data.dates.abstract_submission.old!="" %}<del>{{site.data.dates.abstract_submission.old}}</del> {% endif %}{% if site.data.dates.abstract_submission.current %}{{site.data.dates.abstract_submission.current}}{% else %}tba{% endif %}</td>
		</tr-->
<!-- 		
		<tr>
			<td colspan="2" class="bg-gray"><b>Fall Cycle - Research Papers</b></td>
		</tr>
		<tr>
			<td>Abstract Submission</td>
			<td>{% if site.data.dates.abstract_submission_fall.old!="" %}<del>{{site.data.dates.abstract_submission_fall.old}}</del> {% endif %}{% if site.data.dates.abstract_submission_fall.current %}{{site.data.dates.abstract_submission_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Paper Submission</td>
			<td>{% if site.data.dates.research_submission_fall.old!="" %}<del>{{site.data.dates.research_submission_fall.old}}</del> {% endif %}{% if site.data.dates.research_submission_fall.current %}{{site.data.dates.research_submission_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Rebuttal Phase</td>
			<td>{% if site.data.dates.rebuttal_phase_fall.old!="" %}<del>{{site.data.dates.rebuttal_phase_fall.old}}</del> {% endif %}{% if site.data.dates.rebuttal_phase_fall.current %}{{site.data.dates.rebuttal_phase_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Acceptance Notification</td>
			<td>{% if site.data.dates.research_notification_fall.old!="" %}<del>{{site.data.dates.research_notification_fall.old}}</del> {% endif %}{% if site.data.dates.research_notification_fall.current %}{{site.data.dates.research_notification_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Camera Ready</td>
			<td>{% if site.data.dates.camera_ready_fall.old!="" %}<del>{{site.data.dates.camera_ready_fall.old}}</del> {% endif %}{% if site.data.dates.camera_ready_fall.current %}{{site.data.dates.camera_ready_fall.current}}{% else %}tba{% endif %}</td>
		</tr>
		 -->
		
		<!-- <tr>
			<td colspan="2" class="bg-gray"><b>Spring Cycle - Research Papers</b></td>
		</tr> -->
		<tr>
			<td colspan="2" class="bg-gray"><b>Research Papers</b></td>
		</tr>
		<tr>
			<td>Abstract Submission</td>
			<td>{% if site.data.dates.abstract_submission_spring.old!="" %}<del>{{site.data.dates.abstract_submission_spring.old}}</del> {% endif %}{% if site.data.dates.abstract_submission_spring.current %}{{site.data.dates.abstract_submission_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		<tr>
			<td>Paper Submission</td>
			<td>{% if site.data.dates.research_submission_spring.old!="" %}<del>{{site.data.dates.research_submission_spring.old}}</del> {% endif %}{% if site.data.dates.research_submission_spring.current %}{{site.data.dates.research_submission_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<!-- <tr>
			<td>Reviews due</td>
			<td>{% if site.data.dates.rebuttal_phase_spring.old!="" %}<del>{{site.data.dates.rebuttal_phase_spring.old}}</del> {% endif %}{% if site.data.dates.rebuttal_phase_spring.current %}{{site.data.dates.rebuttal_phase_spring.current}}{% else %}tba{% endif %}</td>
		</tr> -->
		
		<tr>
			<td>Rebuttal (start)</td>
			<td>{% if site.data.dates.rebuttal_phase_spring_start.current %}{{site.data.dates.rebuttal_phase_spring_start.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Rebuttal (end)</td>
			<td>{% if site.data.dates.rebuttal_phase_spring_end.current %}{{site.data.dates.rebuttal_phase_spring_end.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Notification</td>
			<td>{% if site.data.dates.research_notification_spring.old!="" %}<del>{{site.data.dates.research_notification_spring.old}}</del> {% endif %}{% if site.data.dates.research_notification_spring.current %}{{site.data.dates.research_notification_spring.current}}{% else %}tba{% endif %}</td>
		</tr>

		<!--tr>
			<td>Final Decision</td>
			<td>{% if site.data.dates.research_finaldecision_spring.old!="" %}<del>{{site.data.dates.research_finaldecision_spring.old}}</del> {% endif %}{% if site.data.dates.research_finaldecision_spring.current %}{{site.data.dates.research_finaldecision_spring.current}}{% else %}tba{% endif %}</td>
		</tr-->
		
		<tr>
			<td>Camera Ready</td>
			<td>{% if site.data.dates.camera_ready_spring.old!="" %}<del>{{site.data.dates.camera_ready_spring.old}}</del> {% endif %}{% if site.data.dates.camera_ready_spring.current %}{{site.data.dates.camera_ready_spring.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td colspan="2" class="bg-gray"><b>Submission Dates</b></td>
		</tr>

		<!--tr>
			<td>Research Paper Submission</td>
			<td>{% if site.data.dates.research_submission.old!="" %}<del>{{site.data.dates.research_submission.old}}</del> {% endif %}{% if site.data.dates.research_submission.current %}{{site.data.dates.research_submission.current}}{% else %}tba{% endif %}</td>
		</tr-->

		<tr>
			<td>Industry and Application Papers</td>
			<td>{% if site.data.dates.industry_submission.old!="" %}<del>{{site.data.dates.industry_submission.old}}</del> {% endif %}{% if site.data.dates.industry_submission.current %}{{site.data.dates.industry_submission.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Workshop on AI and Serverless Computing</td>
			<td>{% if site.data.dates.tutorial_proposal_submission.old!="" %}<del>{{site.data.dates.tutorial_proposal_submission.old}}</del> {% endif %}{% if site.data.dates.tutorial_proposal_submission.current %}{{site.data.dates.tutorial_proposal_submission.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Posters and Demos</td>
			<td>{% if site.data.dates.poster_demo_submission.old!="" %}<del>{{site.data.dates.poster_demo_submission.old}}</del> {% endif %}{% if site.data.dates.poster_demo_submission.current %}{{site.data.dates.poster_demo_submission.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Grand Challenge Short Paper</td>
			<td>{% if site.data.dates.grand_challenge_submission.old!="" %}<del>{{site.data.dates.grand_challenge_submission.old}}</del> {% endif %}{% if site.data.dates.grand_challenge_submission.current %}{{site.data.dates.grand_challenge_submission.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Doctoral Symposium</td>
			<td>{% if site.data.dates.doctoral_symposium_submission.old!="" %}<del>{{site.data.dates.doctoral_symposium_submission.old}}</del> {% endif %}{% if site.data.dates.doctoral_symposium_submission.current %}{{site.data.dates.doctoral_symposium_submission.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td colspan="2" class="bg-gray"><b>Notification Dates</b></td>
		</tr>

		<!--tr>
			<td>Author Notification Research Track</td>
			<td>{% if site.data.dates.research_author_notification.old!="" %}<del>{{site.data.dates.research_author_notification.old}}</del> {% endif %}{% if site.data.dates.research_author_notification.current %}{{site.data.dates.research_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr-->
		
		<tr>
			<td>Workshop on AI and Serverless Computing</td>
			<td>{% if site.data.dates.tutorial_proposal_author_notification.old!="" %}<del>{{site.data.dates.tutorial_proposal_author_notification.old}}</del> {% endif %}{% if site.data.dates.tutorial_proposal_author_notification.current %}{{site.data.dates.tutorial_proposal_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>
        
		<tr>
			<td>Industry and Application Papers</td>
			<td>{% if site.data.dates.industry_author_notification.old!="" %}<del>{{site.data.dates.industry_author_notification.old}}</del> {% endif %}{% if site.data.dates.industry_author_notification.current %}{{site.data.dates.industry_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>

		{% comment %}
		<tr>
			<td>Author Notification Grand Challenge</td>
			<td>{% if site.data.dates.grand_challenge_author_notification.old!="" %}<del>{{site.data.dates.grand_challenge_author_notification.old}}</del> {% endif %}{% if site.data.dates.grand_challenge_author_notification.current %}{{site.data.dates.grand_challenge_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>
		{% endcomment %}

		<tr>
			<td>Posters and Demos</td>
			<td>{% if site.data.dates.poster_demo_author_notification.old!="" %}<del>{{site.data.dates.poster_demo_author_notification.old}}</del> {% endif %}{% if site.data.dates.poster_demo_author_notification.current %}{{site.data.dates.poster_demo_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>
		
		<tr>
			<td>Doctoral Symposium</td>
			<td>{% if site.data.dates.doctoral_symposium_author_notification.old!="" %}<del>{{site.data.dates.doctoral_symposium_author_notification.old}}</del> {% endif %}{% if site.data.dates.doctoral_symposium_author_notification.current %}{{site.data.dates.doctoral_symposium_author_notification.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td colspan="2" class="bg-gray"><b>Camera Ready</b></td>
		</tr>

		<tr>
			<td>Industry and Application Papers</td>
			<td>{% if site.data.dates.camera_ready.old!="" %}<del>{{site.data.dates.camera_ready.old}}</del> {% endif %}{% if site.data.dates.camera_ready.current %}{{site.data.dates.camera_ready.current}}{% else %}tba{% endif %}</td>
		</tr>
		<!--tr>
			<td>Camera Ready for Doctoral Symposium</td>
			<td>{% if site.data.dates.camera_ready_phd_symp.old!="" %}<del>{{site.data.dates.camera_ready_phd_symp.old}}</del> {% endif %}{% if site.data.dates.camera_ready_phd_symp.current %}{{site.data.dates.camera_ready_phd_symp.current}}{% else %}tba{% endif %}</td>
		</tr-->

		<tr>
			<td>Posters and Demos</td>
			<td>{% if site.data.dates.poster_demo_camera_ready.old!="" %}<del>{{site.data.dates.poster_demo_camera_ready.old}}</del> {% endif %}{% if site.data.dates.poster_demo_camera_ready.current %}{{site.data.dates.poster_demo_camera_ready.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Workshop on AI and Serverless Computing</td>
			<td>{% if site.data.dates.tutorial_camera_ready.old!="" %}<del>{{site.data.dates.tutorial_camera_ready.old}}</del> {% endif %}{% if site.data.dates.tutorial_camera_ready.current %}{{site.data.dates.tutorial_camera_ready.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Grand Challenge</td>
			<td>{% if site.data.dates.grand_challenge_camera_ready.old!="" %}<del>{{site.data.dates.grand_challenge_camera_ready.old}}</del> {% endif %}{% if site.data.dates.grand_challenge_camera_ready.current %}{{site.data.dates.grand_challenge_camera_ready.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td colspan="2" class="bg-gray"><b>Grand Challenge Platform</b></td>
		</tr>

		<tr>
			<td>Registration</td>
			<td>{% if site.data.dates.grand_challenge_registration.current %}{{site.data.dates.grand_challenge_registration.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Platform Opens</td>
			<td>{% if site.data.dates.grand_challenge_platform_opens.current %}{{site.data.dates.grand_challenge_platform_opens.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td>Platform Closes</td>
			<td>{% if site.data.dates.grand_challenge_platform_closes.current %}{{site.data.dates.grand_challenge_platform_closes.current}}{% else %}tba{% endif %}</td>
		</tr>

		<tr>
			<td colspan="2" class="bg-gray"><b>Conference</b></td>
		</tr>
		<tr>
			<td>Conference</td>
			<td>{{site.data.dates.conference_dates}}</td>
		</tr>

	</tbody>
</table>
