{% if site.data.quick_access.enabled %}
<header class="quick-access">
  <a href="/program-schedule/">View Schedule</a>
</header>
{% endif %}
<header class="navbar-sticky-top">
  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img id="logo" src="/img/debs-logo_2026.png" alt="DEBS 2026 Logo">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>

          <!-- <li><a href="/">CALLS</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CALLS <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="text-left" href="/call-for-research-papers/">Call for Research Papers</a></li>
              <li><a class="text-left" href="/call-for-industry-papers/">Call for Industry and Application Papers</a></li>
              <li><a class="text-left" href="/call-for-grand-challenges/">Call for Grand Challenge</a></li>
          <!--     <li><a class="text-left" href="/call-for-tutorials-and-workshops/">Call for Tutorials and Workshops</a></li> -->
              <li><a class="text-left" href="/call-for-posters-and-demos/">Call for Posters and Demos</a></li>
          <!--     <li><a class="text-left" href="/call-for-doctoral-symposium/">Call for Doctoral Symposium</a></li> -->
          <!--     <\!--li><a class="text-left" href="/call-for-workshops/">Call for Workshops</a></li-\-> -->
            </ul>
          </li>

          <!--li><a href="/">COMMITTEE</a></li-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">COMMITTEE <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="text-left" href="/organizing-committee/">Organizing Committee</a></li>
              <li><a class="text-left" href="/program-committee/">Program Committee</a></li>
              <li><a class="text-left" href="/industry-pc/">Industry and Application PC</a></li>
              <!--li><a class="text-left" href="/demo-poster-pc/">Poster and Demo PC</a></li-->
            </ul>
          </li>

          <!--li><a href="/">CONFERENCE INFO</a></li-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CONFERENCE INFO<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="text-left" href="/venue-information/">Venue Information</a></li>
              <li><a class="text-left" href="/acm-artifacts/">ACM Artifacts Badges</a></li>
              <li><a class="text-left" href="/acm-auxiliary-materials/">Auxiliary Material</a></li>
              <!--li><a class="text-left" href="/information-to-authors/">Information to authors</a></li>
              <li><a class="text-left" href="/important-dates/">Important dates</a></li-->
              <li><a class="text-left" href="/accommodation/">Accommodation</a></li>
              <li><a class="text-left" href="/visa-information/">Visa Information</a></li>
              <!--li><a class="text-left" href="/past-debs-events/">Past DEBS events</a></li-->
              <li><a class="text-left" href="/camera-ready-instructions/">Camera-Ready Instructions</a></li>
              <li><a class="text-left" href="/about-posters/">About posters (sizes/printing)</a></li>
            </ul>
          </li>

          <!-- <li><a href="/">PROGRAM</a></li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">PROGRAM<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="text-left" href="/program-schedule/">Program Schedule</a></li>
              <!-- <li><a class="text-left" href="/accepted-contributions/">Accepted Contributions</a></li> -->
              <!-- <li><a class="text-left" href="/accepted-posters/">Accepted Posters & Demos</a></li> -->
              <!-- <<li><a class="text-left" href="/accepted-demos/">Accepted Demos</a></li>> -->
              <!-- <<li><a class="text-left" href="/opening-words/">Opening Words</a></li>> -->
              <!-- <<li><a class="text-left" href="/minute-madness/">Minute Madness</a></li>> -->
              <!-- <li><a class="text-left" href="/keynote-speakers/">Keynotes</a></li> -->
              <!-- <li><a class="text-left" href="/workshops/">Workshops</a></li> -->
              <!-- <<li><a class="text-left" href="/proceedings/">Proceedings</a></li>> -->
            </ul>
          </li>
		  
          <!-- <li class="dropdown"> -->
          <!--   <a href="#" class="dropdown-toggle" data-toggle="dropdown">REGISTRATION <span class="caret"></span></a> -->
          <!--   <ul class="dropdown-menu" role="menu"> -->
          <!--     <\!-- <li><a class="text-left" href="/registration/">Conference Registration</a></li> -\-> -->
          <!--     <li><a class="text-left" href="/acm-support/">ACM SigSoft support</a></li> -->
          <!--   </ul> -->
          <!-- </li> -->

          <!--li><a href="/">SPONSORS</a></li-->
          <!--li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SPONSORS<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="text-left" href="/support/">Support DEBS 2024</a></li>
              <li><a class="text-left" href="/acm-journals/">ACM Journals</a></li>
            </ul>
          </li-->
        </ul>

        <ul class="list-inline lang-list">

        </ul>
      </div>
    </div>
  </nav>
</header>
