---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
  
<head>
    <title>PROGRAM SCHEDULE</title>
    {% include head-tags.html %}
    <link rel="stylesheet" href="/css/schedule2026.css" />
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="PROGRAM SCHEDULE" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="block">
                        <h1>Program Schedule</h1>
                        <p>All times are in Continental Portuguese Summer Time
                        (Local time) which is Western European Summer Time
                        (WEST).</p>
                        <table>
                          <tr><th class="time-col" style="border-bottom:none"></th><th>23 Jun 2026</th><th>24 Jun 2026</th><th>25 Jun 2026</th><th>26 Jun 2026</th></tr>
                          <tr><th class="time-col" style="border-top:none"></th><th class="day-row">Tuesday</th><th class="day-row">Wednesday</th><th class="day-row">Thursday</th><th class="day-row">Friday</th></tr>
                          <tr><td class="time-col">08:45</td><td style="border-bottom:none"></td><td class="track-7" >Registration</td><td class="track-7">Registration</td><td class="track-7">Registration</td></tr>
                          <tr><td class="time-col">09:00</td><td rowspan="22" style="border-bottom:none;border-top:none;"></td><td class="track-1" rowspan="2">Opening</td><td class="track-2" rowspan="4">Keynote: Paul Castro</td><td class="track-2" rowspan="4">Keynote: Luís Rodrigues + João Leitão</td></tr>
                          <tr><td class="time-col">09:15</td></tr>
                          <tr><td class="time-col">09:30</td><td class="track-5" rowspan="5">Security and Privacy</td></tr>
                          <tr><td class="time-col">09:45</td></tr>
                          <tr><td class="time-col">10:00</td><td class="track-5" rowspan="5">Poster session +  Coffee Break</td><td class="track-3" rowspan="2">Coffee Break</td></tr>
                          <tr><td class="time-col">10:15</td></tr>
                          <tr><td class="time-col">10:30</td><td class="track-5" rowspan="5">Stream/Complex event processing</td></tr>
                          <tr><td class="time-col">10:45</td><td class="track-3" rowspan="2">Coffee Break</td></tr>
                          <tr><td class="time-col">11:00</td></tr>
                          <tr><td class="time-col">11:15</td><td class="track-2" rowspan="4">Keynote: Sara Bouchenak</td><td class="track-5" rowspan="5">AI/ML/Serverless computing</td></tr>
                          <tr><td class="time-col">11:30</td></tr>
                          <tr><td class="time-col">11:45</td><td class="track-1" rowspan="2">Closing</td></tr>
                          <tr><td class="time-col">12:00</td></tr>
                          <tr><td class="time-col">12:15</td><td class="track-3" rowspan="7">Lunch</td><td class="track-3" rowspan="6">Lunch</td></tr>
                          <tr><td class="time-col">12:30</td><td class="track-3" rowspan="6">Lunch</td></tr>
                          <tr><td class="time-col">12:45</td></tr>
                          <tr><td class="time-col">13:00</td></tr>
                          <tr><td class="time-col">13:15</td></tr>
                          <tr><td class="time-col">13:30</td></tr>
                          <tr><td class="time-col">13:45</td><td rowspan="20"></td></tr>
                          <tr><td class="time-col">14:00</td><td class="track-2" rowspan="4">Test of time</td><td class="track-2" rowspan="4">Keynote: Miguel Filipe</td></tr>
                          <tr><td class="time-col">14:15</td></tr>
                          <tr><td class="time-col">14:30</td><td class="track-7" rowspan="2"> Registration</td></tr>
                          <tr><td class="time-col">14:45</td><td></td></tr>
                          <tr><td class="time-col">15:00</td><td class="track-4" rowspan="4">WoAIS</td><td class="track-5" rowspan="3">Industry Session I</td><td class="track-5" rowspan="3">Industry Session II </td></tr>
                          <tr><td class="time-col">15:15</td></tr>
                          <tr><td class="time-col">15:30</td></tr>
                          <tr><td class="time-col">15:45</td><td class="track-3" rowspan="2">Coffee Break</td><td class="track-3" rowspan="2">Coffee Break</td></tr>
                          <tr><td class="time-col">16:00</td><td class="track-3" rowspan="2">Coffee Break</td></tr>
                          <tr><td class="time-col">16:15</td><td class="track-6" rowspan="4">PhD Symp / Diversity</td><td class="track-1" rowspan="3">Business Meeting</td></tr>
                          <tr><td class="time-col">16:30</td><td class="track-4" rowspan="4">WoAIS</td></tr>
                          <tr><td class="time-col">16:45</td></tr>
                          <tr><td class="time-col">17:00</td><td class="track-1" rowspan="3">SC Meeting*</td></tr>
                          <tr><td class="time-col">17:15</td><td class="no-top"></td><td class="no-top"></td></tr>
                          <tr><td class="time-col">17:30</td><td class="track-7" rowspan="2">Registration</td><td class="no-top"></td></tr>
                          <tr><td class="time-col">17:45</td><td style="border-top:none"></td><td class="no-top"></td><td style="border-bottom:none;" ></td></tr>
                          <tr><td class="time-col">18:00</td><td class="track-3" rowspan="3">Welcome Reception</td><td class="track-3" rowspan="3">Social event + Conf. Dinner</td><td class="no-top"></td></tr>
                          <tr><td class="time-col"></td><td class="no-top"></td></tr>
                          <tr><td class="time-col"></td><td class="no-top"></td></tr>

                        </table>
                    </div>
                </div>

                <h1>Detailed program: </h1>
                
                <div class="col-sm-12">
                  <div class="block">
                    <table>
                      <tr ><td class="th-detailed" colspan="2">Tuesday, 23 June 2026</td></tr>
                      <tr><th>Begin–End</th><th>Subject</th></tr>

                      <tr><td class="time-col">14:30–15:00</td><td class="track-7"><strong>Registration</strong></td></tr>
                      <tr><td class="time-col">15:00–17:30</td><td class="track-4"><strong><a href="https://www.serverlesscomputing.org/woais1/program.html">WoAIS Workshop</a></strong><br><br>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3816479">Benchmarking Serverless AI Architectures: Modular RAG, Serverless RAG, and Long Context Inference</a>&nbsp;&ndash;&nbsp;Florian Alexandru Serb Petrusel; Pedro Antonio García López<br></span>
<span class="paper"><a href="https://doi.org/10.1145/3809481.3816480">Evaluating Large Language Models for Automated Serverless Workflow Generation</a>&nbsp;&ndash;&nbsp;Sashko Ristov; Philipp Gritsch; Florian Unterhofer; Ruth Breu<br></span>
<span class="paper"><a href="https://doi.org/10.1145/3809481.3816481">LLM-Assisted Interpretation of Graphene Image Analysis in Serverless Workflows</a>&nbsp;&ndash;&nbsp;Sepideh Shamsizadeh; Barry Hardy; Valerio Schiavoni; Josef Spillner<br></span>
<span class="paper"><a href="https://doi.org/10.1145/3809481.3816482">InferenceProfiler</a>&nbsp;&ndash;&nbsp;Austin Bomhold; Xinghan Chen; Morteza Nabavinejad; Wes Lloyd<br></span>
                      </td></tr>
                      <tr><td class="time-col">17:30–18:00</td><td class="track-7"><strong>Registration</strong></td></tr>
                      <tr><td class="time-col">18:00</td><td class="track-3"><strong>Welcome Reception</strong></td></tr>
                    </table>

                    <table>
                      <tr ><td class="th-detailed" colspan="2">Wednesday, 24 June 2026</td></tr>
                      <tr><th>Begin–End</th><th>Subject</th></tr>

                      <tr><td class="time-col">08:45–09:00</td><td class="track-7"><strong>Registration</strong></td></tr>
                      <tr><td class="time-col">09:00-09:30</td><td class="track-1"><strong>Opening</strong><br></td></tr>
                      <tr><td class="time-col">09:30–10:45</td><td class="track-5">
                          <strong>Security and Privacy</strong><br>
                            <span class="paper"><a href="https://doi.org/10.1145/3809481.3812610">Lean Gossip: Big Gains From Small Talk</a>&nbsp;&ndash;&nbsp;Ankit Kumar; Panagiotis Manolios; Panagiotis Manolios<br></span>
                            <span class="paper"><a href="https://doi.org/10.1145/3809481.3812611">Enhancing Effectiveness of Ethereum Rollups with a Byzantine Fault Tolerant Finality Layer</a>&nbsp;&ndash;&nbsp;Emanuele Valzano; Matteo Nardelli; Valeria Cardellini<br></span>
                            <span class="paper"><a href="https://doi.org/10.1145/3809481.3812614">SHIELD: Evolutionary Synthesis of Privacy-Preserving Pipelines for Live Stream Data Sharing</a>&nbsp;&ndash;&nbsp;Silvia Perelli; Eric Medvet; Vincenzo Gulisano<br></span>
                      </td></tr>
                      
                      <tr><td class="time-col">10:45-11:15</td><td class="track-3"><strong>Coffee Break</strong></td></tr>
                      <tr><td class="time-col">11:15-12:15</td><td class="track-2">
                          <a href="../keynote-speakers/#keynote1"><strong>Keynote: Sara Bouchenak</strong><br>
                            <em>Trustworthy Distributed AI and Machine Learning - Challenges and Opportunities</em></a><br>
                          <em>Chair: Sukanya Bhowmik<br></em>
                    </td></tr>                      
                      <tr><td class="time-col">12:15-14:00</td><td class="track-3"><strong>Lunch</strong></td></tr>
                      <tr><td class="time-col">14:00-15:00</td><td class="track-2"><strong>Test of time</strong>
                          <br><em>Chair: Boris Koldehofe</em><br></td></tr>                                           
                      <tr><td class="time-col">15:00-15:45</td>
                        <td class="track-5"><strong>Industry Session I</strong><br><br>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3812621">Chill: Runtime Reconfiguration of Windowed Stream Aggregates with Semantic Guarantees</a>&nbsp;&ndash;&nbsp;Jingyu Liu; Vincenzo Gulisano<br></span>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3812620">BPFComposer: Towards deterministic and safe composition of eBPF Programs (and their Shared state)</a>&nbsp;&ndash;&nbsp;Prankur Gupta; Takshak Chahande; Miao Xu; Prashanth Kannan; Tejas Birajdar; Lilian Liu; Rajiv Krishnamurthy; Theophilus Benson<br></span>
                        </td>
                      </tr>
                      <tr><td class="time-col">15:45-16:15</td><td class="track-3"><strong>Coffee Break</strong></td></tr>
                      <tr><td class="time-col">16:15-17:15</td><td class="track-6"><strong>PhD Symp / Diversity</strong></td></tr>
                      <tr><td class="time-col">18:00</td><td class="track-3"><strong>Social event<br>+<br>Conf. Dinner</strong> (@<a href="https://zambezerestaurante.pt/en/home">Zambeze restaurant</a>)</td></tr>
                    </table>

                    <table>
                      <tr ><td class="th-detailed" colspan="2">Thursday, 25 June 2026</td></tr>
                      <tr><th>Begin–End</th><th>Subject</th></tr>

                    <tr><td class="time-col">08:45–09:00</td><td class="track-7"><strong>Registration</strong></td></tr>
                    <tr><td class="time-col">09:00-10:00</td>
                        <td class="track-2"><a href="../keynote-speakers/#keynote3"><strong>Keynote: Paul Castro</strong><br><em>Serverless for AI, AI for Serverless</em></a>
                        </td>
                      </tr>
                      <tr><td class="time-col">10:00–11:15</td><td class="track-5">
                          <strong>Poster Session + Coffee Break</strong><br>
                           <em>Chair: Bernardo Almeida</em><br><br>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3816717">Poster: CIRRUS – Data-Driven Preprocessing Pipelines for Eye-Tracking Data</a>&nbsp;&ndash;&nbsp;Jennifer Landes; Meike Klettke; Oliver Ring<br></span>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3816718">Demo: ZSS — In-Zenoh Shared Subscription with Raft-Based High Availability</a>&nbsp;&ndash;&nbsp;Cheanfei Shee; Hailong Zheng; Yudai Tanabe; Sho Isobe; Shin Owada; Nobuyasu Seki<br></span>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3816719">Poster: Pixelate: An Event-Driven System for Scalable Distributed Multi-User Interaction on Public Displays</a>&nbsp;&ndash;&nbsp;Joseph Kenny; Samuelle Bourgault; Philippe Maman; Soulaf Aburas; Daniela Mitterberger<br></span>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3816720">Demo: Exploring Time Series Data from Massive Sensor Systems through Change Point Correlation</a>&nbsp;&ndash;&nbsp;Lucas Weber; Martin Bühl; Richard Lenz<br></span>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3816721">StreamFröst: Collaborative Definition and Execution of Cross-Organizational Stream Processing Pipelines</a>&nbsp;&ndash;&nbsp;Liam Tirpitz; Jannis Tölle; Roman Bobekh; Sakshi Gupta; Divyashree Sreenivasa; Ushasree Tella; Maximilian Breuer; Sandra Geisler<br></span>
                  <span class="paper"><a href="https://doi.org/10.1145/3809481.3816722">Poster: Event-Based Detection of Rare Action Boundaries in Streaming Manufacturing Videos using Adaptive Windowing</a>&nbsp;&ndash;&nbsp;Piyush Yadav; Kostas Kouramas<br></span>
                      </td></tr>            
                      <tr><td class="time-col">11:15–12:30</td><td class="track-5">
                          <strong>AI/ML/Serverless computing</strong><br>
                           <em>Chair: Paul Castro</em><br><br>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3812617">Label-Flip Attack Detection via Trust-Weighted Aggregation in Federated Learning for Underground Mine Security</a>&nbsp;&ndash;&nbsp;Md. Sazedur Rahman; Sanjay Madria; Samuel Frimpong<br></span>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3812613">Spec2FaaS: using AI Agents for Autonomous Serverless Function Development and Deployment</a>&nbsp;&ndash;&nbsp;Martina Lupini; Gabriele Russo Russo; Valeria Cardellini<br></span>
                           <span class="paper"><a href="https://doi.org/10.1145/3809481.3812616">Size and Frequency Aware Warm Container Management for Resource-Constrained Serverless Platforms Under Skewed Workloads</a>&nbsp;&ndash;&nbsp;Sabyasachi Gupta; John Lusher; Paul Gratz<br></span>
                                                                                
                      </td></tr>
                      <tr><td class="time-col">12:30–14:00</td><td class="track-3"><strong>Lunch</strong></td></tr>
                      <tr><td class="time-col">14:00–15:00</td><td class="track-2">
                          <a href="../keynote-speakers/#keynote4"><strong>Keynote: Miguel Filipe</strong><br>
                            <em>DuneCP: An Event-Driven Control Plane for a Blockchain Data Platform</em></a><br>
                            <em>Chair: Valerio Schiavoni</em><br>
                      </td></tr>
                      <tr><td class="time-col">15:00–15:45</td><td class="track-5">
                          <strong>Industry Session II</strong><br>
                          <em>Chair: Nuno Cruz</em><br><br>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3812619">StreamPerf: Predicting SLA breaches at different latency percentiles in mission critical stream processing</a>&nbsp;&ndash;&nbsp;Diogo Pacheco; Rodrigo Rodrigues; Paolo Romano; João Barreto; Ana Sofia Gomes; Alberto Ferreira; Pedro Bizarro<br></span>
                          <!-- <span class="paper">Experimental Analysis of Partitioning Strategies under Workload Skew (Kafka)<br></span> -->
                      </td></tr>
                      <tr><td class="time-col">15:45-16:15</td><td class="track-3"><strong>Coffee Break</strong></td></tr>
                      <tr><td class="time-col">16:15-17:00</td><td class="track-1"><strong>Business Meeting</strong></td></tr>
                      <tr><td class="time-col">17:00-17:45</td><td class="track-1"><strong>SC Meeting</strong> (@6.3.27)</td></tr>
                    </table>
                    
                  </div>
                </div>

                <table>
                      <tr ><td class="th-detailed" colspan="2">Friday, 26 June 2026</td></tr>
                      <tr><th>Begin–End</th><th>Subject</th></tr>

                    
                    <tr><td class="time-col">09:00–10:00</td><td class="track-2">
                        <a href="../keynote-speakers/#keynote2"><strong>Keynote: Luís Rodrigues + João Leitão</strong><br><em>Efficient and robust large-scale event dissemination: the PlumTree story</em></a>
                        <br><em>Chair: Vincenzo Gulisano</em><br>
                    </td></tr>
                    <tr><td class="time-col">10:00-10:30</td><td class="track-3"><strong>Coffee Break</strong></td></tr>
                     <tr><td class="time-col">10:30–11:45</td><td class="track-5">
                          <strong>Stream/Complex event processing</strong><br><br>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3812609">Alloy: Transparent Proxy-Based Coupling Between Stream Processing and Storage</a>&nbsp;&ndash;&nbsp;Guillaume Rosinosky; Donatien Schmitz; Etienne Riviere<br></span>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3812612">FlushSync: The Hidden Synchronization Bottleneck in LSM-tree based Stream Processing</a>&nbsp;&ndash;&nbsp;Prajwal Basnet; Shungeng Zhang; Jianshu Liu; Jing Zou<br></span>
                          <span class="paper"><a href="https://doi.org/10.1145/3809481.3812615">KRAKEN: Joint Optimization of Operator Placement and Communication for Distributed Stream Processing</a>&nbsp;&ndash;&nbsp;Ariane Ziehn; Finn Glück; Philipp Emanuel Meran; Steffen Zeuch ; Volker Markl<br></span>
                     </td></tr>
                      <tr><td class="time-col">11:45-12:15</td><td class="track-1"><strong>Closing</strong><br></td></tr>
                      <tr><td class="time-col">12:15–13:45</td><td class="track-3"><strong>Lunch</strong></td></tr>                      
                    </table>

                
            </div>
        </div>


   
                        
                        
                    
    </section>

    {% include footer.html %}
</body>

</html>
