---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>POSTER AND DEMONSTRATIONS PROGRAM COMMITTEE</title>
{% include head-tags.html %}
</head>
<body>

{% include header.html %}
{% include slider-regular-page.html title="POSTER AND DEMONSTRATIONS PROGRAM COMMITTEE" %}

<section id = "demo-poster-pc">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <div style="margin-bottom: 100px;">
            <h1>Poster and Demos Co-Chairs</h1>
            <!-- <p>To be announced soon.</p> -->
            
            <ul>
            {% for chair in site.data.chairs.poster_demo_chairs %}
              <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
            {% endfor %}
            </ul>
            
            <h1>Members</h1>
            
            <ul>
						{% for member in site.data.chairs.pc_members_poster_demo %}
            <li>{{member.firstname}} {{member.lastname}}, {{member.institution}}</li>
						{% endfor %}
            </ul>
          </div>
        </div>
      </div>
      
      {% include side.html %}

    </div>
  </div>
</section>

{% include footer.html %}
</body>
</html>