---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CONFERENCE REGISTRATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="CONFERENCE REGISTRATION" %}


  <section id="conference-registration">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div>
              <h1>Registration</h1>

              <p>The registration website is now
                  available <a href="https://eventos.tigerteam.pt/geral/inseririnscricao.aspx?evento=1&formulario=1&lingua=en-GB&login=false"
                  target="_blank" rel="noopener noreferrer">here</a>.</p>

              <!-- <p><b>The deadline for author registration is on the 15th of May 23.59 AoE</b>. If the registration is not -->
              <!--   received in time, the paper will not be included in the proceedings. There should be at least one -->
              <!--   full-author registration per paper. -->
              <!-- </p> -->

              <!-- <p>The registration form (which appears when clicking the above <a -->
              <!--   href="https://mkon.nu/acm_debs_2025/registration_participant" target="_blank" -->
              <!--   rel="noopener noreferrer">link</a>) includes an <b>ACM memberID</b> field. If -->
              <!--   you are an active ACM member (student and beyond) and you select a reduced rate registration fee, you -->
              <!--   must include your current ACM member ID.</p> -->

              <!-- <p>Information about registration fees is available <a -->
              <!--   href="https://mkon.nu/acm_debs_2025/fees" target="_blank" -->
              <!--   rel="noopener noreferrer">here</a>.</p> -->

              <!-- <p>Information about terms, conditions, and cancellation policies is available <a -->
              <!--   href="https://mkon.nu/acm_debs_2025/terms__conditions" target="_blank" -->
              <!--   rel="noopener noreferrer">here</a>.</p> -->

            </div>
            
            <div>
              <h1>ACM Policies</h1>
              <p>In participating, I acknowledge <a href="https://www.acm.org/about-acm/privacy-policy" target="_blank"
                rel="noopener noreferrer">ACM's
                Privacy Policy</a> and <a href="https://www.acm.org/about-acm/policy-against-harassment" target="_blank"
                rel="noopener noreferrer">ACM's
                  Policy Against Harassment</a> at ACM Activities and agree that behavior such as the following will
                constitute grounds for actions against me:</p>

              <p>
                <li>Abusive action directed at an individual, such as threats, intimidation, or bullying.</li>
                <li>Racism, homophobia, and other behaviour that discriminates against a group or class of people.</li>
                <li>Sexual harassment of any kind, such as unwelcome sexual advances or words/actions of a sexual nature
                </li>
                If you are involved in or witness any such incident, please let the event organizers know.
              </p>
            </div>

          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
