---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>CONFERENCE REGISTRATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="CONFERENCE REGISTRATION" %}


  <section id="conference-registration">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div>
              <h1>Registration</h1>
              In process
              <!-- <p>The registration website is now
                  available <a href="https://eventos.tigerteam.pt/geral/inseririnscricao.aspx?evento=1&formulario=1&lingua=en-GB&login=false"
                               target="_blank" rel="noopener noreferrer">here</a>.</p> -->
              <!-- <p> Registration for the WoAIS workshop is <a href="https://eventos.tigerteam.pt/geral/inseririnscricao.aspx?evento=3&formulario=3&lingua=en-GB&login=false"
                               target="_blank" rel="noopener noreferrer">here</a>.</p> -->

              <!-- <p><b>The deadline for author registration is on the 15th of May 23.59 AoE</b>. If the registration is not -->
              <!--   received in time, the paper will not be included in the proceedings. There should be at least one -->
              <!--   full-author registration per paper. -->
              <!-- </p> -->

              <!-- <p>The registration form (which appears when clicking the above <a -->
              <!--   href="https://mkon.nu/acm_debs_2025/registration_participant" target="_blank" -->
              <!--   rel="noopener noreferrer">link</a>) includes an <b>ACM memberID</b> field. If -->
              <!--   you are an active ACM member (student and beyond) and you select a reduced rate registration fee, you -->
              <!--   must include your current ACM member ID.</p> -->

              <!-- <p>Information about registration fees is available <a -->
              <!--   href="https://mkon.nu/acm_debs_2025/fees" target="_blank" -->
              <!--   rel="noopener noreferrer">here</a>.</p> -->

              <!-- <p>Information about terms, conditions, and cancellation policies is available <a -->
              <!--   href="https://mkon.nu/acm_debs_2025/terms__conditions" target="_blank" -->
              <!--   rel="noopener noreferrer">here</a>.</p> -->

            </div>

            <div>
              
              <h1>Prices</h1>
              <table border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides" style="width:100%;">
                <colgroup>
                  <col  class="left" />  
                  <col  class="center" />
                  <col  class="center" />
                  <col  class="center" />
                  <col  class="center" />
                  <col  class="center" />
                  <col  class="center" />
                  <col  class="center" />
                  <col  class="center" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col" class="left">Registration type</th>                   
                    <th scope="col" class="center">&#xa0;</th>                 
                    <th scope="col" class="center">&#xa0;</th>
                    <th scope="col" class="center">Early</th>
                    <th scope="col" class="center">&#xa0;</th>                                    
                    <th scope="col" class="center">&#xa0;</th>                                    
                    <th scope="col" class="center">&#xa0;</th>
                    <th scope="col" class="center">Late</th>
                    <th scope="col" class="center">&#xa0;</th>
                  </tr>

                  <tr>
                    <th scope="col" class="left">&#xa0;</th>
                    <th scope="col" class="center">&#xa0;</th>                                    
                    <th scope="col" class="center">&#xa0;</th>
                    <th scope="col" class="center">(Deadline May 24th)</th>
                    <th scope="col" class="center">&#xa0;</th>                                    
                    <th scope="col" class="center">&#xa0;</th>                                    
                    <th scope="col" class="center">&#xa0;</th>
                    <th scope="col" class="center">(Deadline June 22nd)</th>
                    <th scope="col" class="center">&#xa0;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="left">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">DEBS</td>
                    <td class="center">WoAIS only</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">DEBS</td>
                    <td class="center">WoAIS only</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td class="left">ACM Professional member</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">800€</td>
                    <td class="center">200€</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">1000€</td>
                    <td class="center">300€</td>
                  </tr>

                  <tr>
                    <td class="left">ACM Student member</td>
                    <td class="center">&#xa0;</th>
                    <td class="center">&#xa0;</td>
                    <td class="center">400€</td>
                    <td class="center">100€</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">500€</td>
                    <td class="center">200€</td>
                  </tr>

                  <tr>
                    <td class="left">Full</td>
                    <td class="center">&#xa0;</th>
                    <td class="center">&#xa0;</td>
                    <td class="center">900€</td>
                    <td class="center">300€</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">1100€</td>
                    <td class="center">350€</td>
                  </tr>

                  <tr>
                    <td class="left">Student</td>
                    <td class="center">&#xa0;</th>
                    <td class="center">&#xa0;</td>
                    <td class="center">450€</td>
                    <td class="center">150€</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">&#xa0;</td>
                    <td class="center">550€</td>
                    <td class="center">250€</td>
                  </tr>
                </tbody>
              </table>

            </div>
            
<div>
  <h2>Informations:</h2>
  <p>DEBS registrations include attendance to the WoAIS workshop, welcome
    session, social event, conference dinner, lunches for the entire duration of
    the event and coffee breaks.</br> A full or ACM Professional member
    registration is required for each paper accepted for publication in the
    proceedings. Requests to cancel the registration must be addressed directly
    to the local organization
    chair <a href="mailto:diogo.saraiva.lima@gmail.com">(Diogo Lima)</a>.</br>
  </p>
  <p>
    The social event includes a guided walking tour by Lisbon downtown and a
    dinner at <a href="https://zambezerestaurante.pt/en/home">Zambeze
    restaurant</a>. 
  </p>
  <p>
    Additional tickets for the social event and conference dinner are avaliable
    for 90€ depending on room availability. Contact the local organization
    chair <a href="mailto:diogo.saraiva.lima@gmail.com">(Diogo Lima)</a> in
    advance for reservations.</br>
  </p>
  <p>
    The following rules apply:</br>
    <ul>
      <li>Requests received before Sunday, the 24th of May 23:59 AoE will receive
        a 50% refund of the registration fee, minus any transaction/processing
        fees.</li>
      <li>Requests received after Sunday, the 24th of May 23:59 AoE and before
        Friday the 12th of June 23:59 AoE will receive a 25% refund of the
        registration fee, minus any transaction/processing fees.</li>
    </ul>
  </p>
                  
</div>

<!-- <div> -->
<!--   <h2>Accommodations</h2> -->
<!--   <ul> -->
<!--   <li>Check <a href="https://hotelmap.com/MQBWB">here</a> for the list of hotels offering special prices for DEBS participants</li> -->
<!--   <li>DEBS will take place at the <a href="https://maps.app.goo.gl/Pqqei7HbArzd4qJC8">Caleidoscópio building</a> of ULisboa, in Campo Grande. The closest hotel (5m walking) is <a href="https://www.radissonhotels.com/en-us/hotels/radisson-blu-lisbon?cid=a%3Ase+b%3Agmb+c%3Aemea+i%3Alocal+e%3Ardb+d%3Aukirwe+h%3APTLIS1">Radisson Blu</a>.</li></ul> -->
<!-- </div> -->

            <div>
              <h1>ACM Policies</h1>
              <p>In participating, I acknowledge <a href="https://www.acm.org/about-acm/privacy-policy" target="_blank"
                rel="noopener noreferrer">ACM's
                Privacy Policy</a> and <a href="https://www.acm.org/about-acm/policy-against-harassment" target="_blank"
                rel="noopener noreferrer">ACM's
                  Policy Against Harassment</a> at ACM Activities and agree that behavior such as the following will
                constitute grounds for actions against me:</p>

              <p>
                <ul>
                <li>Abusive action directed at an individual, such as threats, intimidation, or bullying.</li>
                <li>Racism, homophobia, and other behaviour that discriminates against a group or class of people.</li>
                <li>Sexual harassment of any kind, such as unwelcome sexual advances or words/actions of a sexual nature
                </li></ul>
                If you are involved in or witness any such incident, please let the event organizers know.
              </p>
            </div>

          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
