---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ACCOMMODATION</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="ACCOMMODATION" %}

    <section id="accomodation">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                          <h1>Accommodation - Suggested Hotels</h1>

                           <p>Check <a href="https://www.booking.com/searchresults.html?advanced_search_switch=standard&ss=Galway&label=bin859jc-10CAEoggI46AdIM1gDaGmIAQGYATO4ARfIAQzYAQPoAQH4AQGIAgGoAgG4AsDw3tEGwAIB0gIkMzY3ZDNkNGEtYzcwZi00ZTk2LTlhZGQtODE1M2UxODk5M2I12AIB4AIB&aid=397645&lang=en-us&sb=1&src_elem=sb&src=index&dest_id=-1502950&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=en&ac_suggestion_list_length=8&search_selected=true&search_pageview_id=80654760b4f802f8&ac_meta=GhA4MDY1NDc2MGI0ZjgwMmY4IAAoATICZW46BkdhbHdheQ%3D%3D&checkin=2026-09-19&checkout=2026-09-22&group_adults=2&no_rooms=1&group_children=0#map_opened">here</a> for the list of hotels offering special prices for DEBS participants.</p>
                          
                            <p>Below is a list of suggested hotels, either near
                            the conference venue or closer to the city
                            center.</p>

                          <p>
                                <h2>Kilbree House: &#x1F9B6;19minutes</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9540.119314978278!2d-9.102387428283714!3d53.28900071005344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96643959785d%3A0x4a31bbb9c485237a!2sKilbree%20House%20Bed%20%26%20Breakfast!5e0!3m2!1sen!2sie!4v1782035959327!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>

                          <p>
                            <h2>Maldron Hotel Sandy Road Galway: &#x1F9B6;30m / &#x1F68C;30m</h2>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4770.426875485571!2d-9.047699322358664!3d53.285711572271914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b969538dfc91d%3A0x35a77cb6f8b18342!2sMaldron%20Hotel%20Sandy%20Road%20Galway!5e0!3m2!1sen!2sie!4v1782038396083!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                          <p>
                                <h2>The Hardiman: &#x1F9B6;30m / &#x1F68C;14m</h2>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9541.79538394592!2d-9.069492209851164!3d53.28149430632739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b96e5830d06a3%3A0x6c0d7fca094f34df!2sThe%20Hardiman!5e0!3m2!1sen!2sie!4v1782036250161!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </p>
                            
               
                        </div>
                        
                    </div>
                </div>

                {% include side.html %}
            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>
