---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
	<title>WORKSHOPS</title>
	{% include head-tags.html %}
</head>

<body>

	{% include header.html %}
	{% include slider-regular-page.html title="WORKSHOPS" %}

	<section id="workshops">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12">
					<div class="block">
						<div class="row">
							<div class="col-md-12">
								<h1>Workshops</h1>
								<hr>
							</div>

							<div class="col-md-12" style="padding-top: 50px"></div>

							<div>

								<h1>Workshop on AI and Serverless Computing (WoAIS)</h1>

								<p>The rise of new AI agents—which involve
								multiple LLM calls, dynamic plans, and a mix of
								code and AI models—is creating uniquely complex
								workloads for serverless platforms. This new
								reality has already resurfaced classic
								serverless headaches, such as cold starts,
								managing state, and figuring out resource
								allocation, but within the demanding context of
								modern AI applications. Furthermore, new
								complications are emerging, including mixed
								GPU/CPU needs, unpredictable execution plans,
								long-running yet highly bursty processes, and
								the critical need for robust agent-to-agent
								communication.</p>


                                <p>Looking beyond the cloud, the scope of
                                serverless is expanding. We aim to look ahead at
                                future architectures involving AI, hybrid
                                clouds, and especially edge/IoT devices, which
                                current serverless platforms are not
                                well-equipped to support. This naturally leads
                                to a discussion on the role of LLMs in
                                Serverless, where we will explore how hybrid
                                serverless platforms can be leveraged for the
                                entire lifecycle of Large Language Models (LLMs)
                                and Foundation Models (FMs), from fine-tuning to
                                serving. </p>

                                <p>This workshop brings together researchers and
                                practitioners to explore aspects such as use
                                cases, resource allocations, optimizations, and
                                using AI to improve serverless experience and to
                                discuss their experiences and ideas for future
                                directions in serverless research. </p>

                                <p>As this year the workshop is hybrid and we
                                are looking not only for research papers,
                                experience papers, demonstrations, or position
                                papers but also for live presentations of
                                ongoing work, demonstrations, and anything else
                                that may be interesting to the workshop
                                audience.</p>

                                <p>The latest version of this CFP is available
                                at <a href="http://serverlesscomputing.org/woais1/">http://serverlesscomputing.org/woais1/</a></p>

							</div>


						</div>
					</div>
				</div>

				{% include side.html %}

			</div>
		</div>
	</section>

	{% include footer.html %}
</body>

</html>
