---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>ACM SIGSOFT SUPPORT</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="ACM SIGSOFT SUPPORT" %}

    <section id="call-for-doctoral-symposium">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>ACM SigSoft Support</h1>
                            
                            <p>
                                ACM SigSoft supports DEBS 2025 with travel grants under the CAPS program. Please have a look <a href="https://survey.alchemer.com/s3/8182217/SIGSOFT-CAPS-Travel-Support-for-DEBS-2025">here</a>.
                            </p>

                            <p>
                                SIGSOFT is pleased to announce that the CAPS program offers reimbursement for students and professional who attended the DEBS 2025 conference. CAPS travel support can be used for reimbursing flight, hotel, taxi / cab, shuttle, meals, mileage, and parking, and shall NOT be used for reimbursing other expenses (in particular, conference registration).
                            </p>

                            <p>
                                The support is available for anyone who fits into one or more of the following categories:
                            </p>
                            <ul>
                                <li>participants who identify as being a member of an underrepresented racial or ethnic group(s) in the place they work,</li>
                                <li>participants based in low income and lower middle income countries as identified by the <a href="https://datatopics.worldbank.org/world-development-indicators/the-world-by-income-and-region.html">World Bank List of Economies</a>,</li>
                                <li>undergraduate students, or</li>
                                <li>SIGSOFT members (both student and professional).</li>
                            </ul>
                
                            <p>
                                The number of CAPS support is limited. To apply, please complete the following form <b>before April 28, 2025</b>. The notifications will be sent <b>by May 5, 2025</b>.
                            </p>
                        </div>
                    </div>
                </div>
                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>