---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR POSTERS AND DEMOS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR POSTERS AND DEMOS" %}

    <section id="call-for-posters-and-demos">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">

                        <!-- <div> -->

                        <!--     <h1>News and Highlights</h1> -->

                        <!--     <p> -->
                        <!--         <li>Clarification on ACM Auxiliary Materials is available <a class="text-left" -->
                        <!--             href="/acm-auxiliary-materials/">here</a>.</li> -->
                        <!--         <li>Information on ACM Artifacts Badges is available <a class="text-left" -->
                        <!--                 href="/acm-artifacts/">here</a>.</li> -->
                        <!--     </p> -->

                        <!-- </div> -->

                        <div>
                            <h1>Demos and Posters - Call for Papers</h1>

                            <h1>Demos</h1>
                            <p> Demonstrations provide first-hand, interactive
                            experiences with research prototypes or operational
                            systems relevant to distributed and event-based
                            systems. The demo track serves as a forum to
                            showcase innovative system designs, implementations,
                            and practical insights, as well as to exchange
                            lessons learned from building, deploying, and
                            operating event-based systems. It also allows
                            authors to obtain direct feedback from expert users
                            and practitioners.</p>

                            <!-- <p> Demonstration submissions are welcomed in any of
                            the areas identified in the conference's scope (see
                            <a href="2026.debs.org">2026.debs.org</a> for the
                            detailed scope).</p> -->

                            <p> Demonstration submissions must describe the
                            objectives, system design, implementation
                            highlights, and key insights addressed by the demo.
                            Submissions should be 2-4 pages, excluding
                            references, acknowledgements and appendix and should
                            formatted according to the ACM format for the
                            conference proceedings. All demo submissions should
                            have the prefix “Demo:” in their title.</p>

                            <p>Authors are strongly encouraged(but not required)
                              to provide a URL to</p>
                            <ul>
                              <li> a live online version of their demo, or</li>
                              <li> a short video showcasing the main demo features.</li>                            
                            </ul>

                            <p>These materials are intended solely to support
                            the review and selection process.</p>

                            <p>Demonstrations that make their source code freely
                            available are strongly encouraged, and a requirement
                            to be considered for the Best Demo Award.</p>
                            
                            <p>Accepted demo contributions will be published
                            (excluding appendices) by ACM and disseminated
                              through the ACM Digital Library.</p>

                            <h1>Posters</h1>
                            
                            <p>Poster presentations provide an excellent forum for
                            researchers and practitioners to present and discuss
                            preliminary research results, novel ideas,
                            early-stage systems, or emerging directions related
                            to DEBS.</p>
                            
                            <p>Poster submissions should describe the motivation,
                            core idea, approaches, and–where applicable–initial
                            results, , following the ACM format for the
                            conference proceedings, and must not exceed 2 pages.
                            All poster submissions should have the prefix
                            “Poster:” in their title.</p>
                            
                            <p>Accepted poster contributions will be published by
                            ACM and disseminated through the ACM Digital
                            Library.</p>

                        </div>

                       

                        <div div style="margin-bottom: 50px;">
                            <h1>Important Dates</h1>
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>

                            <ul>
                            <li>Poster and Demo paper submissions <b>{% if
                                    site.data.dates.poster_demo_submission.old!=""
                                    %}<del>{{site.data.dates.poster_demo_submission.old}}</del> {% endif %}{% if
                                    site.data.dates.poster_demo_submission.current
                                    %}{{site.data.dates.poster_demo_submission.current}}{% else %}tba{% endif %}</b>
                            </li>

                            <li>Author notification <b>{% if site.data.dates.poster_demo_author_notification.old!=""
                                    %}<del>{{site.data.dates.poster_demo_author_notification.old}}</del> {% endif %}{%
                                    if site.data.dates.poster_demo_author_notification.current
                                    %}{{site.data.dates.poster_demo_author_notification.current}}{% else %}tba{% endif
                                    %}</b></li>

                            <li>Camera ready deadline <b>{% if site.data.dates.poster_demo_camera_ready.old!=""
                                    %}<del>{{site.data.dates.poster_demo_camera_ready.old}}</del> {% endif %}{% if
                                    site.data.dates.poster_demo_camera_ready.current %}{{site.data.dates.poster_demo_camera_ready.current}}{%
                                    else %}tba{% endif %}</b></li>

                            <li>Conference <b>{{site.data.dates.conference_dates_calls}}</b></li>
                            </ul>

                        </div>

                        <div>
                            <h1>Submissions</h1>
                            <div style="margin-bottom: 100px;">
                                <p>The review process is single-blind. Submitted
                                papers are required to adhere to the two-column
                                "sigconf" ACM conference proceeding style, with
                                a minimal font size of 10pt. Templates and
                                examples in LaTeX and various versions of
                                Microsoft Word are available for download from
                                the <a href="https://www.acm.org/publications/proceedings-template">ACM
                                proceedings templates page</a>. Authors are
                                strongly encouraged to be inclusive in writing
                                and presentation of their work. Please visit the
                                subsection "D&I materials" at
                                <a href="https://dbdni.github.io/">https://dbdni.github.io/</a>
                                for details. Papers may be submitted
                                via <a href="https://cmt3.research.microsoft.com/DEBS2026/Track/3/Submission/Create">Microsoft
                                CMT</a>.</p> {% if
                                site.data.chairs.pc_members_poster_demo.size > 0
                                %}
                                <p>If you have any questions, please contact the Poster and Demo Chairs:</p>
                                <ul>
                                  {% for chair in site.data.chairs.pc_members_poster_demo %}
                                   {% if chair.email != null %}
                                     <li> <a href="mailto:{{ chair.email }}">{{ chair.firstname }} {{chair.lastname}}</a></li>
                                     {% else %}
                                      <li> {{ chair.firstname }} {{chair.lastname}}</li>
                                     {% endif %}
                                  {% endfor %}
                                </ul>
                                {% endif %}                                
                            </div>

                            <div>
                                <h1>ACM Policies</h1>
                                <p>
                                    The authors of accepted papers will choose between different copyright agreements according to ACM policies.
                                    The options will include opportunities for open access and the traditional ACM copyright agreement.
                                </p>
                                <p>
                                    By submitting your article to an ACM Publication, you are hereby acknowledging that you and your co-authors 
                                    are subject to all <a href="https://www.acm.org/publications/policies">ACM Publications Policies</a>, 
                                    including 
                                    <a href="https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects">ACM's new Publications Policy on Research Involving Human Participants and Subjects</a>. Alleged violations of this policy or any ACM Publications Policy will be investigated 
                                    by ACM and may result in a full retraction of your paper, in addition to other potential penalties, 
                                    as per ACM Publications Policy.
                                </p>

                                <p>
                                    Please ensure that you and your co-authors obtain an <a href="https://orcid.org/register">ORCID ID</a>, so you can complete the publishing process for your accepted paper. 
                                    ACM has been involved in ORCID from the start and we have recently made a <a href="https://authors.acm.org/author-resources/orcid-faqs">commitment to collect ORCID IDs from 
                                        all of our published authors</a>. We are committed to improve author discoverability, ensure proper attribution and 
                                    contribute to ongoing community efforts around name normalization; your ORCID ID will help in these efforts.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                {% include side.html %}
            </div>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>
