---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>PRINTING POSTERS</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="PRINTING POSTERS" %}

  <section id="acm-artifacts">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-sm-12">
          <div class="block">
            <div style="margin-bottom: 100px;">

              <div>
                <h2>Poster Printing Information</h2>
                <!-- <p> -->
                <!--   In addition to the accepted Posters and Demos, all accepted contributions to the Research and Industry -->
                <!--   tracks are also invited to bring a poster to the conference. This offers a great opportunity to foster -->
                <!--   additional discussions during the poster session. The preferred poster size is <strong>A1</strong>, -->
                <!--   but <strong>A0</strong> is also possible. -->
                  <!-- </p> -->

                <p> The poster size is <strong>A0</strong>.

                <p>
                  If you prefer to print your poster on-site rather than
                  bringing it with you, we point you to two services: 
                </p>

                <ul>
                  <li>
                    <strong>Option 1: Email Submission and On-Site Payment</strong><br>
                    Send your poster as a <strong>PDF file</strong> to
                    <a href="mailto:copyprint.fc.ul@staples.pt">copyprint.fc.ul@staples.pt</a>.
                    Please indicate in the email that you want the poster to be printed in <strong>A0 size</strong>.<br>
                    Once your poster is ready, you will receive a confirmation reply. You can then collect it in person
                    and pay <strong>at Staples in the campus</strong>.<br>
                    <em>Important:</em> Please send the email <strong>at least
                    three working days</strong> before you plan to collect the
                    poster, and CC the Poster
                    Chairs <a href="mailto:manisha.luthra@ruhr-uni-bochum.de">Manisha
                    Luthra</a>
                    and <a href="mailto:bpdalmeida@ciencias.ulisboa.pt">Bernardo
                    Almeida</a>.
                  </li>
                  <li>
                    <strong>Option 2: Printing store near the venue</strong><br>
                    If you prefer you can print your poster
                    in <a href="https://maps.app.goo.gl/AKbfL2JW68eZrTGU6">"CopyCenter
                    Centro de Cópias"</a> which prints posters on the spot.
                  </li>
                </ul>
                
                <!-- <ul> -->
                <!--   <li> -->
                <!--     <strong>Option 1: Email Submission and On-Site Payment</strong><br> -->
                <!--     Send your poster as a <strong>PDF file</strong> to -->
                <!--     <a href="mailto:chalmersdigitaltryck@chalmers.se">chalmersdigitaltryck@chalmers.se</a>. -->
                <!--     Please indicate in the email if you prefer the poster to be printed in <strong>A1 size</strong>; -->
                <!--     otherwise, the default size will be <strong>A0</strong>.<br> -->
                <!--     Once your poster is ready, you will receive a confirmation reply. You can then collect it in person -->
                <!--     and pay <strong>on-site at the printing service</strong>.<br> -->
                <!--     <em>Important:</em> Please send the email <strong>at least two working days</strong> before you plan -->
                <!--     to collect the poster, and CC the General Chairs, Vincenzo Gulisano and Marina Papatriantafilou. -->
                <!--   </li> -->

                <!--   <li> -->
                <!--     <strong>Option 2: Walk-in Printing</strong><br> -->
                <!--     Bring your poster on a <strong>USB stick</strong>, and visit the printing service directly to print -->
                <!--     and pay on-site. -->
                <!--   </li> -->
                <!-- </ul> -->

                <!-- <p> -->
                <!--   The printing service is open <strong>Monday to Friday, 08:00–16:00</strong>. -->
                <!-- </p> -->

                <!-- <p> -->
                <!--   We look forward to seeing your posters at DEBS 2026! -->
                <!-- </p> -->

              </div>

            </div>
          </div>
        </div>

        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>

</html>
