---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR RESEARCH PAPERS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR RESEARCH PAPERS" %}

    <section id="call-for-research-papers">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <!-- <div> -->
                        <!--     <h1>News and Highlights</h1> -->
                        <!--     <p> -->
                        <!--         <li>Clarification on ACM Auxiliary Materials is available <a class="text-left" -->
                        <!--             href="/acm-auxiliary-materials/">here</a>.</li> -->
                        <!--         <li><b>Note:</b>The deadlines for the abstract and paper submission for the Research track have been extended to the 10th and 17th of February, respectively</li> -->
                        <!--         <li>Information on ACM Artifacts Badges is available <a class="text-left" -->
                        <!--                 href="/acm-artifacts/">here</a>.</li> -->
                        <!--         <li>Top-rated papers will be invited to submit an extended version of their work to the -->
                        <!--             special issue for Elsevier's Information Systems on "Advances in Distributed Data -->
                        <!--             Processing and Event-Based Systems"</li> -->
                        <!--     </p> -->
                        <!-- </div> -->
                        <div>
                            <h1>Objective</h1>
                            <p>
                              The ACM International Conference on Distributed
                              and Event‐Based Systems (DEBS) is the premier
                              venue for academia and industry to discuss
                              cutting-edge research in distributed and
                              event-based computing and data processing. DEBS
                              2026 will provide a forum for original research,
                              practical insights, and experiences in distributed
                              and event-based systems, with a focus on emerging
                              trends and new challenges in the field.
                            </p>
                             <p> We solicit high-quality submissions across a range of topics,
                               with different submission options to reflect the nature of each
                               contribution. All submissions will undergo a rigorous peer
                               review process.
                             </p>
                        </div>
                        <div>
                          <h1>Scope</h1>

              <p>
                The DEBS conference covers a broad range of topics in
                distributed and event-based computing for various application
                domains and computing environments. The conference aims to
                present novel solutions for collecting, detecting, processing,
                analyzing, and responding to events through distributed
                middleware, systems, and platforms. DEBS 2026 welcomes
                submissions focusing on 1) <b>Models, Architectures, Programming,
                and Query Support</b>, 2) <b>Systems and Software</b>, and 3) <b>Applications
                and Use-Cases on the following topics</b>:
              </p>

               <p><b>Systems Design and Data Management</b></p>
               <ul>
                <li>Scalable data stream processing and complex event processing.</li>
                <li>Dataflow execution and distributed state management.</li>
                <li>Time series event-based database management.</li>
                <li>Approximate event-based query processing.</li>
                <li>Incremental computing, data structures, and materialized view maintenance for relational, graph, and stream data.</li>
                <li>Cloud, fog, and edge computing, including serverless and FaaS.</li>
                <li>Hardware acceleration and programmable hardware for event-based systems.</li>
                <li>Software-defined networking and disaggregated memory architectures for event-based systems.</li>
               </ul>


             <p><b>Security and Privacy</b></p>
             <ul>
               <li>Security, encryption, forecasting, and in-network processing for data streams.</li>
               <li>Sustainability, security, reliability, and resilience in event-based systems.</li>
               <li>Scalable distributed ledger and blockchain..</li>
             </ul>
             
              <p><b>AI/ML for Systems and Systems for AI/ML</b></p>
              <ul>
                <li>Event-based systems for ML: optimizing end-to-end AI/ML
                pipelines using event-based systems, i.e., feature engineering,
                distributed training, and serving.</li>
               <li>ML for event-based systems: improving performance using AI/ML
               methods.</li>
              </ul>
              
              <p><b>Applications, Use-Cases and Benchmarks</b></p>
              <ul>
                <li>Applications and use cases regarding Internet-of-Things
                (IoT), smart cities, virtual and extended/augmented reality,
                cyber-physical systems, and sensor networks.</li>
                <li>Applications and use cases regarding enterprise, finance,
                healthcare, life sciences, logistics, fleet management,
                transport scheduling and optimization, multimedia analytics,
                computer/network security, and social networking.</li>
                <li>Benchmarks for event-based systems</li>
              </ul>
                <p>
                <h1>DEBS will focus on original contributions of the following types:</h1>
                
                <ul>
                <li>Research papers (up to 12 pages, excluding references):
                These papers present original research on the topics listed
                above and will be assessed based on the significance of the
                problem, the novelty of the proposed solution, the extent of
                contribution over prior work, the strength of the supporting
                evidence, and presentation style.</li>
                
                <li>Experiments and Benchmarking papers (up to 12 pages,
                excluding references): These papers focus on the extensive
                evaluation of algorithms, data structures, and systems that are
                of wide interest. The scientific contribution of an Experiments
                & Benchmarking paper lies in providing fundamentally new
                insights into the strengths and weaknesses of existing methods,
                or new ways to evaluate existing methods.</li>
                
                <li>Short papers (up to 6 pages, including references): These
                papers are evaluated according to the same standards and
                criteria as full research papers, but their content is presented
                in a more concise manner.</li>
                
                <li>Vision papers (up to 6 pages, including references): Papers
                in this category should demonstrate the potential to open new
                avenues of research. For such submissions, the capacity to
                inspire subsequent investigations is valued more highly than
                comprehensive experimental validation, although some preliminary
                evidence supporting the proposed approach or concept is
                expected.</li>
                
                <li>Position papers (up to 6 pages, including references): These
                papers should present a well-reasoned argument or stance on a
                particular issue, idea, or emerging research direction. For such
                submissions, rather than focusing on extensive empirical
                results, the goal should be to propose, justify, or critically
                analyze a specific viewpoint or future path for a field.</li>
                </ul>
                  
                </p>

                <h1>Submissions Guidelines</h1>

                <p> Submissions should be formatted in the ACM proceedings style
                (two-column “sigconf” from
                <a href="https://www.acm.org/publications/proceedings-template">
                https://www.acm.org/publications/proceedings-template</a>, font
                size set to 10 pt) and submitted as PDF file via Microsoft CMT at
                <a href="https://cmt3.research.microsoft.com/DEBS2026/">
                https://cmt3.research.microsoft.com/DEBS2026</a>. A submitted
                paper cannot be under review for any other conference or journal
                during the time it is considered for DEBS 2026, and it must be
                substantially different from any previously published work.</p>

                <p> The Research Track adopts a double-blind review process for
                  all categories of papers, where neither authors nor reviewers know each other's
                  identities. This means that submitted papers must be anonymous (not revealing
                  author names). References to authors’ previous work should be done in the third
                  person to not reveal their identities. There should be no acknowledgments of
                  people or projects. Supplementary material (e.g., GitHub or GitLab repository)
                  should not reveal the authors’ identities; to this end, anonymized repositories
                  can be used
                  (e.g., <a href="https://anonymous.4open.science">https://anonymous.4open.science</a>).</p>

              <p> Double-blind reviewing does not preclude submitting work
              intended for DEBS 2026 to preprint services such as arXiv.
              However, authors are encouraged to use preventive measures to
              reduce the chances of accidental breach of anonymity (e.g., use a
              sufficiently different title for their preprint submission).</p>
                
                 <p> Authors are strongly encouraged to be inclusive in the
                 writing and presentation of their work. Please visit the
                 subsection "D&I materials"
                 at <a href="https://dbdni.github.io/">https://dbdni.github.io/</a>
                 for details.</p>
                
                 <p> DEBS 2026 promotes research reproducibility: authors of
                 papers submitted to the Research Track are encouraged to make
                 their artifacts available. The reviewers will be encouraged to
                 consider this supplementary material. The ACM Artifacts
                 Available badge will be placed on accepted papers that make
                 their artifacts available according to ACM’s rules
                 (<a href="https://www.acm.org/publications/policies/artifact-review-and-badging-current">
                 https://www.acm.org/publications/policies/artifact-review-and-badging-current</a>).</p>
                
                 <p> The Research Track Program Committee will evaluate
                 submissions to the Research Track, as well as authors’
                 responses provided during the rebuttal period.</p>
                
                 <p> DEBS 2026 plans to be an in-person event, and the authors
                 of accepted papers are expected to arrange for an in-person
                 attendee to present the paper and answer questions.</p>
                
                 <p> All accepted papers will be published in the ACM Digital
                 Library under
                 the <a href="https://dl.acm.org/conference/debs/proceedings">ACM
                 DEBS Conference Proceedings</a>. The official publication date
                 is the date the proceedings are made available in the ACM
                 Digital Library. ACM reserves the right to exclude a paper from
                 distribution after the conference (e.g., removal from ACM
                 Digital Library) if none of the authors attends the conference
                 to present their paper.</p>
                
                 <p> If you have any questions, please contact the PC co-chairs,
                 Ruben Mayer (Ruben.Mayer@uni-bayreuth.de) and Sukanya
                 Bhowmik(bhowmik@uni-potsdam.de).</p>
                
                 <h1>ACM Policies and Procedures</h1>
                 <p> By submitting your article to an ACM Publication, you are
                   hereby acknowledging that you and your co-authors are subject
                   to
                   all <a href="https://www.acm.org/publications/policies">ACM
                   Publications Policies</a>,
                   including <a href="https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects">
                   ACM's Publications Policy on Research Involving Human
                   Participants and Subjects</a>. ACM will investigate alleged
                   violations of this policy or any ACM Publications Policy and
                   may result in a full retraction of your paper, in addition to
                   other potential penalties, as per ACM Publications
                   Policy.</p>
  
               <p>
                 Regarding <a href="https://www.acm.org/publications/policies/new-acm-policy-on-authorship">ACM
                   Policy on Authorship</a>, which also provides policies on the
                   use of generative AI tools in preparing manuscripts, please
                   check
                   the <a href="https://www.acm.org/publications/policies/frequently-asked-questions">frequently
                   asked questions page</a>.</p>
  
              <p> Please ensure that you and your co-authors
                obtain <a href="https://authors.acm.org/author-resources/orcid-faqs">an ORCID
                  ID</a>, so you can complete the publishing process for your accepted paper.</p>


                
                <h1>Important update on ACMs new open access publishing model for 2026 ACM Conferences!</h1>

                <p>Starting January 1, 2026, ACM will fully transition to Open
                Access. All ACM publications, including those from ACM-sponsored
                conferences, will be 100% Open Access. Authors will have two
                primary options for publishing Open Access articles with ACM:
                the ACM Open institutional model or by paying Article Processing
                Charges (APCs). With over 2,600 institutions already part of ACM
                Open, the majority of ACM-sponsored conference papers will not
                require APCs from authors or conferences (currently, around 76%).</p>
                
                
                <p>Authors from institutions not participating in ACM Open will
                need to pay an APC to publish their papers, unless they qualify
                for a financial waiver. To find out whether an APC applies to
                your article, please consult the list of participating
                institutions in ACM Open and review the
                <a href="https://www.acm.org/publications/policies/policy-on-discretionary-open-access-apc-waivers">
                https://www.acm.org/publications/policies/policy-on-discretionary-open-access-apc-waivers</a>.
                Keep in mind that waivers are rare and are granted based on
                specific criteria set by ACM.</p>

                <p>Understanding that this change could present financial
                challenges, ACM has approved a temporary subsidy for 2026 to
                ease the transition and allow more time for institutions to join
                  ACM Open. The subsidy will offer:</p>
                
                  <ul>
                    <li>$250 APC for ACM/SIG members</li>
                    <li>$350 for non-members</li>
                  </ul>

                  <p>
                  This represents
                  a <a href="https://www.acm.org/publications/openaccess">65%
                  discount</a>, funded directly by ACM. Authors are encouraged
                  to help advocate for their institutions to join ACM Open
                  during this transition period.
                </p>

                  <h1>Acknowledgement</h1> <p>The Microsoft CMT service was used
                  for managing the peer-reviewing process for this conference.
                  This service was provided for free by Microsoft and they bore
                  all expenses, including costs for Azure cloud services as well
                  as for software development and support.</p>
                            
                        </div>

                        <div>
                            <h1>Important Dates</h1>
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>

                            <!--p>
                                DEBS {{site.data.dates.conference_year}} will have one submission cycle for the research track. There will be a
                                rebuttal phase. More information is provided below.
                            </p-->

                            <ul>
                            <li>
                                Abstract registration for research track:
                                <b>
                                    {% if site.data.dates.abstract_submission_spring.old!=""%}
                                    <del>{{site.data.dates.abstract_submission_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.abstract_submission_spring.current %}
                                    {{site.data.dates.abstract_submission_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Submission deadline for research track:
                                <b>
                                    {% if site.data.dates.research_submission_spring.old!="" %}
                                    <del>{{site.data.dates.research_submission_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_submission_spring.current %}
                                    {{site.data.dates.research_submission_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <!-- <li>
                                Reviews due:
                                <b>
                                    {% if site.data.dates.rebuttal_phase_spring.old!="" %}
                                    <del>{{site.data.dates.rebuttal_phase_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.rebuttal_phase_spring.current %}
                                    {{site.data.dates.rebuttal_phase_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li> -->

                            <li>
                                Rebuttal (start):
                                <b>
                                    {% if site.data.dates.rebuttal_phase_spring_start.current %}
                                    {{site.data.dates.rebuttal_phase_spring_start.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Rebuttal (end):
                                <b>
                                    {% if site.data.dates.rebuttal_phase_spring_end.current %}
                                    {{site.data.dates.rebuttal_phase_spring_end.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Notification:
                                <b>
                                    {% if site.data.dates.research_notification_spring.old!="" %}
                                    <del>{{site.data.dates.research_notification_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_notification_spring.current %}
                                    {{site.data.dates.research_notification_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <!--li>
                                Final decision:
                                <b>
                                    {% if site.data.dates.research_finaldecision_spring.old!="" %}
                                    <del>{{site.data.dates.research_finaldecision_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.research_finaldecision_spring.current %}
                                    {{site.data.dates.research_finaldecision_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li-->

                            <li>
                                Camera ready deadline:
                                <b>
                                    {% if site.data.dates.camera_ready_spring.old!="" %}
                                    <del>{{site.data.dates.camera_ready_spring.old}}</del>
                                    {% endif %}
                                    {% if site.data.dates.camera_ready_spring.current %}
                                    {{site.data.dates.camera_ready_spring.current}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>

                            <li>
                                Conference:
                                <b>
                                    {% if site.data.dates.conference_dates %}
                                    {{site.data.dates.conference_dates}}
                                    {% else %}
                                    TBA
                                    {% endif %}
                                </b>
                            </li>
                            </ul>
                        </div>

                        <div>
                            <h1>Organizers</h1>
                            <h2>General chair</h2>
                            <ul>
                            {% for chair in site.data.chairs.general_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}
                            </ul>

                            <h2>PC chairs</h2>
                            <ul>
                            {% for chair in site.data.chairs.pc_chairs %}
                            <li>{{ chair.firstname }} {{ chair.lastname }}, {{ chair.institution }}</li>
                            {% endfor %}
                            </ul>
                        </div>


                        <div>
                            <!-- <h1>Submissions Categories</h1> -->
                            <!-- <p>The DEBS 2026 Research Track welcomes papers in the following categories:</p> -->

                            <!-- <li> -->
                            <!--     <b>Regular papers</b>: this category is open to research papers of both theoretical -->
                            <!--     and experimental nature with novel and original research contributions. Regular papers -->
                            <!--     must be no longer than 12 pages, including references. -->
                            <!-- </li> -->

                            <!-- <p></p> -->

                            <!-- <li> -->
                            <!--     <b>Short papers</b>: this category offers the opportunity to present and discuss new -->
                            <!--     ideas -->
                            <!--     and/or visions on emerging research challenges. Preliminary results from original -->
                            <!--     research may also be presented, where some aspects of the work remain open, possibly -->
                            <!--     with initial or limited evaluation. Short papers must be no longer than 6 pages, -->
                            <!--     including references. -->
                            <!-- </li> -->

                            <!-- <p></p> -->

                            <!-- <p> -->
                            <!--     For information about Auxiliary Materials, please check <a class="text-left" -->
                            <!--     href="/acm-auxiliary-materials/">here</a>. -->
                            <!-- </p> -->

                        </div>
                        <div>

                            <!-- <h1>Submissions Guidelines</h1> -->

                            <!-- <p> -->
                            <!--     Submissions should be formatted in the ACM proceedings style (two-column “sigconf” -->
                            <!--     from <a -->
                            <!--         href="https://www.acm.org/publications/proceedings-template">https://www.acm.org/publications/proceedings-template</a>, -->
                            <!--     font size set to 10 pt). -->
                            <!--     Further instructions regarding the submission process will be provided soon. -->
                            <!--     <\!-- and submitted as PDF file via Microsoft CMT at <a -\-> -->
                            <!--     <\!--     href="https://cmt3.research.microsoft.com/DEBS2025">https://cmt3.research.microsoft.com/DEBS2025</a>. -\-> -->
                            <!--     A submitted paper cannot be under review -->
                            <!--     for any other conference or journal during the time it is considered for DEBS 2026, -->
                            <!--     and it must be substantially different from any previously published work. -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     The Research Track adopts a double-blind review process for both categories of papers, -->
                            <!--     where neither authors nor reviewers know each other’s identities. This means that -->
                            <!--     submitted papers must be anonymous (not revealing author names). References to -->
                            <!--     authors’ previous work should be done in the third person to not reveal their -->
                            <!--     identities. -->
                            <!--     There should be no acknowledgments of people or projects. Supplementary material -->
                            <!--     (e.g., GitHub or GitLab repository) should not reveal the authors’ identities; -->
                            <!--     to this end, anonymized repositories can be used (e.g., -->
                            <!--     <a href="https://anonymous.4open.science">https://anonymous.4open.science</a>). -->
                            <!-- </p> -->
                            <!-- <p> -->
                            <!--     Double-blind reviewing does not preclude submitting work intended for DEBS 2026 to -->
                            <!--     preprint -->
                            <!--     services such as arXiv. However, authors are encouraged to use preventive measures -->
                            <!--     to reduce the chances of accidental breach of anonymity (e.g., use a sufficiently -->
                            <!--     different title for their preprint submission). -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     Authors are strongly encouraged to be inclusive in the writing and presentation of -->
                            <!--     their work. Please visit the subsection "D&I materials" at -->
                            <!--     <a href="https://dbdni.github.io/">https://dbdni.github.io/</a> for details. -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     DEBS 2026 promotes research reproducibility: authors of papers submitted to the -->
                            <!--     Research Track are encouraged to make their artifacts available. The reviewers -->
                            <!--     will be encouraged to consider this supplementary material. The ACM Artifacts -->
                            <!--     Available badge will be placed on accepted papers that make their artifacts -->
                            <!--     available according to ACM’s rules -->
                            <!--     (<a -->
                            <!--         href="https://www.acm.org/publications/policies/artifact-review-badging">https://www.acm.org/publications/policies/artifact-review-badging</a>). -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     The Research Track Program Committee will evaluate submissions to the Research Track, as -->
                            <!--     well as authors’ responses provided during the rebuttal period. -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     Authors of selected, top-rated papers from DEBS 2026 will be invited to submit an -->
                            <!--     extended version of their work to the special issue for Elsevier's Information Systems -->
                            <!--     on "Advances in Distributed Data Processing and Event-Based Systems". -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     DEBS 2026 plans to be an in-person event, and the authors of accepted papers are -->
                            <!--     expected to arrange for an in-person attendee to present the paper and answer questions. -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--     All accepted papers will be published in the ACM Digital Library under the -->
                            <!--     <a href="https://dl.acm.org/conference/debs/proceedings">ACM DEBS -->
                            <!--         Conference Proceedings</a>. the official publication date is the date the -->
                            <!--     proceedings are -->
                            <!--     made available in the ACM Digital Library. ACM reserves the right to exclude a -->
                            <!--     paper from distribution after the conference (e.g., removal from ACM Digital -->
                            <!--     Library) if none of the authors attends the conference to present their paper. -->
                            <!-- </p> -->

                            <!-- <p> -->
                            <!--   If you have any questions, please contact the PC -->
                            <!--   co-chairs, Ruben Mayer and Vasiliki Kalavri -->
                            <!--   <\!-- at <a href="https://cmt3.research.microsoft.com/DEBS2025/Email/Chairs">https://cmt3.research.microsoft.com/DEBS2025/Email/Chairs</a> -\->. -->
                            <!-- </p> -->
                        </div>

                        <!-- <div>
                            <h1>Dual deadline conditions</h1>

                            <p>
                                DEBS 2024 adopts a dual-deadline model, with a submission deadline in the Fall and
                                another one in the Spring.
                            </p>

                            <p>
                                Authors of papers receiving a Reject decision for the Fall deadline are not allowed to
                                resubmit to the Spring deadline for DEBS 2024. There are, however, no constraints for a
                                resubmission to a future edition of DEBS.
                            </p>

                            <p>
                                In specific cases, the program committee may decide to offer a one-shot revision
                                decision for authors of papers submitted to the Fall deadline, that would be considered
                                promising but lacking in presentation or clarity. In this case, authors will have the
                                possibility to send an updated version to the Spring deadline for reevaluation.
                            </p> -->

                        <!-- <p>
                                Papers must be submitted using the HotCRP system using one of the following links:
                            </p>

                            <li>Fall cycle: <a
                                    href="https://debs2023-fall.hotcrp.com/">https://debs2023-fall.hotcrp.com/</a></li>
                            <li>Spring cycle: <a
                                    href="https://debs2023-spring.hotcrp.com/">https://debs2023-spring.hotcrp.com/</a>
                            </li> -->

                        <!-- <p>
                                If you have any questions, please contact the PC chairs, Bettina Kemme and Etienne
                                Rivière, at the following address: <a
                                    href="mailto:debs2023-chairs@uclouvain.be">debs2023-chairs@uclouvain.be</a>
                            </p> -->
                        <!-- </div> -->
                        <div>
                            <h1>ACM Policies and Procedures</h1>
                            <p>
                                By submitting your article to an ACM Publication, you are hereby acknowledging that you
                                and your co-authors are subject to all <a
                                    href="https://www.acm.org/publications/policies">ACM Publications Policies</a>,
                                including <a
                                    href="https://www.acm.org/publications/policies/research-involving-human-participants-and-subjects">ACM's
                                    Publications Policy on Research Involving Human Participants and Subjects</a>. ACM
                                will investigate alleged
                                violations of this policy or any ACM Publications Policy and may result in a full
                                retraction
                                of your paper, in addition to other potential penalties, as per ACM Publications Policy.
                            </p>
                            <p>
                                Regarding <a
                                    href="https://www.acm.org/publications/policies/new-acm-policy-on-authorship">ACM
                                    Policy on Authorship</a>,
                                which also provides policies on the use of generative AI tools in preparing manuscripts,
                                please check the
                                <a href="https://www.acm.org/publications/policies/frequently-asked-questions">frequently
                                    asked questions</a> page.
                            </p>
                            <p class="justfy">
                                Please ensure that you and your co-authors obtain <a
                                    href="https://authors.acm.org/author-resources/orcid-faqs">an ORCID ID</a>,
                                so you can complete the publishing process for your accepted paper.
                            </p>
                        </div>
                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>

</html>
