---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR DOCTORAL SYMPOSIUM</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR DOCTORAL SYMPOSIUM" %}

    <section id="call-for-doctoral-symposium">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <!-- <div> -->
                        <!--     <h1>News and Highlights</h1> -->
                        <!--     <p> -->
                        <!--         <li><b>Note:</b>The PhD Symposium contributions are now available! Check <a -->
                        <!--                 class="text-left" href="/accepted-contributions/">here</a></li> -->
                        <!--         <li><b>Note:</b>The submission and notification deadlines for the Doctoral Symposium -->
                        <!--             have been extended by one week!</li> -->
                        <!--     </p> -->
                        <!-- </div> -->
                        <div>
                            <h1>Call for Doctoral Symposium Contributions</h1>

                            <p>
                                The Doctoral Symposium provides PhD students a forum to present research results, and to
                                receive constructive feedback and mentoring. Students at different stages will be able
                                to present and discuss their problem statement, goals, methods, and results. The forum
                                aims to provide students with useful guidance on various aspects of their research from
                                established researchers and other PhD students working in research areas related to
                                distributed event-based systems. Additionally, the forum aims to enable PhD students to
                                interact with the other participants to stimulate an exchange of ideas and experiences.
                            </p>

                            <p>
                                The Symposium welcomes submissions by PhD candidates working in distributed and
                                event-based computing and data analysis. We are interested in all the topics of DEBS
                                2026, including, but not limited to:
                            <ul class="nested-list">
                                <li>Models, architectures, and paradigms</li>
                                <li>Systems and software</li>
                                <li>Applications and use cases</li>
                            </ul>
                            </p>

                            <p>
                                Accepted submissions will need to be presented during the Doctoral Symposium.
                                Additionally, the students will be provided an opportunity to present a poster at the
                                main conference. Accepted submissions will be posted on the website of the DEBS
                                conference, but they will not be part of the proceedings published in the ACM Digital
                                Library. Hence, a DS <b>submission does not affect future publication of the work in
                                    conferences/journals</b>.
                            </p>

                            <p>
                                Submissions must be <b>no longer than 4 pages</b> (total, including all appendices and
                                references) and must adhere to the <b>two-column "sigconf" ACM conference proceeding
                                    style</b>. Templates and examples in LaTeX and various versions of Microsoft Word
                                are available for download from the ACM Master Article Template web pages at
                                www.acm.org/publications/proceedings-template. Submissions must be in PDF (Adobe’s
                                Portable Document Format) format.
                            </p>

                            <p>
                                Submissions must be <b>single-author</b>, on the topic of the doctoral work. <b>The PhD
                                    supervisor's name must be clearly marked ("supervised by ...") on the paper, under
                                    the author's name</b>.
                            </p>

                            <p>
                                <!-- Please submit proposals via <a -->
                                <!--     href="https://cmt3.research.microsoft.com/DEBS2025/Track/6/Submission/Create">Microsoft -->
                                <!-- CMT</a>. --> Papers in PDF format may be
                                submitted via Microsoft CMT
                                (<a href="https://cmt3.research.microsoft.com/DEBS2026/">https://cmt3.research.microsoft.com/DEBS2026/</a>)
                                to the "Doctoral Symposium" track.
                            </p>
                             
                            {% if site.data.chairs.doctoral_symposium_chairs.size > 0 %}
                                <p>Inquiries can be sent to:
                                  {% for chair in site.data.chairs.doctoral_symposium_chairs %}
                                   {% if chair.email != null %}
                                     <li> <a href="mailto:{{ chair.email }}">{{ chair.firstname }} {{chair.lastname}}</a></li>
                                     {% else %}
                                      <li> {{ chair.firstname }} {{chair.lastname}}</li>
                                     {% endif %}
                                  {% endfor %}
                                </p>
                                {% endif %}  
                        </div>

                        <div>
                            <h1>Submission Structure</h1>

                            <p>
                                Submissions should be written based on the following structure, which focuses on the key
                                methodological components required for a sound research synthesis:
                            <ul class="nested-list">
                                <li><i>Problem Statement</i>: What is the core problem your PhD investigates? Why is it
                                    relevant? How valuable are the results to the problem (external validity)?</li>
                                <li><i>Research approach/Methodology</i>: What methodology (Data Science,
                                    Macro-Meso-Micro Research Question, Action Research, etc.) are you following? How
                                    suitable is the method (internal validity)?</li>
                                <li><i>Research setting</i>: What are your research questions? Which hypotheses are you
                                    going to investigate? (Note that hypotheses must be falsifiable!) What are the
                                    assumptions?</li>
                                <li><i>State of the art / Related work</i>: Who has worked on your problem (or a similar
                                    one)? What are the main differences between existing research and yours? How and why
                                    is your research novel with respect to the state of the art? Authors can include a
                                    state of the art section before the approach or a related work section after their
                                    approach.</li>
                                <li><i>Research approach</i>: What is the proposed solution to the problem statement?
                                    How does it answer the research questions?</li>
                                <li><i>Evaluation plan</i>: How are you going to evaluate your research? Which datasets
                                    will you use? Are you using any established benchmarks? Have you reached any result
                                    so far?</li>
                                <li><i>Conclusions and reflections</i>: What is the current status of your research?
                                    What are the main challenges you are facing? Why do you think your research will be
                                    successful?</li>
                            </ul>
                            </p>

                            <p>
                                The forum is open to all PhD students. PhD students at the beginning of their research
                                journey are particularly welcome when they have a well-defined problem statement and
                                some ideas about the solution that they want to discuss. PhD students at a more advanced
                                stage of their research should still have sufficient time remaining before completing
                                their dissertation to be able to benefit from feedback provided from participation in
                                the DEBS Doctoral Symposium.
                            </p>

                        </div>

                        <div div style="margin-bottom: 50px;">
                          <h1>Important Dates</h1>                        
                            <p style="font-size: 12px">Deadlines expire at 11:59pm AoE.</p>
                            <li>Doctoral symposium paper submission: <b>{% if
                                    site.data.dates.doctoral_symposium_submission.old!=""
                                    %}<del>{{site.data.dates.doctoral_symposium_submission.old}}</del> {% endif %}{% if
                                    site.data.dates.doctoral_symposium_submission.current
                                    %}{{site.data.dates.doctoral_symposium_submission.current}}{% else %}tba{% endif
                                    %}</b>
                            </li>

                            <li>Notification of acceptance: <b>{% if
                                    site.data.dates.doctoral_symposium_author_notification.old!=""
                                    %}<del>{{site.data.dates.doctoral_symposium_author_notification.old}}</del> {% endif
                                    %}{%
                                    if site.data.dates.doctoral_symposium_author_notification.current
                                    %}{{site.data.dates.doctoral_symposium_author_notification.current}}{% else %}tba{%
                                    endif
                                    %}</b></li>

                            <li>Camera ready deadline (for publication on website): <b>{% if
                                    site.data.dates.doctoral_symposium_camera_ready.old!=""
                                    %}<del>{{site.data.dates.doctoral_symposium_camera_ready.old}}</del> {% endif %}{%
                                    if
                                    site.data.dates.doctoral_symposium_camera_ready.current
                                    %}{{site.data.dates.doctoral_symposium_camera_ready.current}}{%
                                    else %}tba{% endif %}</b></li>

                            <li>Conference: <b>{{site.data.dates.conference_dates_calls}}</b></li>

                        </div>

                        
                        <!-- D&I Section -->
                        <div style="margin-bottom: 50px;">
                            <h1>Diversity & Inclusion Resources</h1>
                            <p>
                                We encourage all participants to contribute to a respectful, inclusive, and professional
                                environment. Please take a moment to consult the following important resources:
                            </p>
                            <ul>
                                <li><a href="https://dbdni.github.io/pages/inclusivewriting.html" target="_blank"
                                        rel="noopener noreferrer">Inclusion, Equity and Diversity in Writing</a></li>
                                <li><a href="https://dbdni.github.io/pages/inclusivetalks.html" target="_blank"
                                        rel="noopener noreferrer">Tips for
                                        Creating Inclusive Talks and Videos</a></li>
                                <li><a href="https://docs.google.com/document/d/e/2PACX-1vTw3wddgD7P-ER1pUxYqnvPhPYExDaOkBLNO2Q11PtSpfINWwXHYKJiX25azIKRq0eRMZU9KIVdoQGr/pub"
                                        target="_blank" rel="noopener noreferrer">DB DEI Code of Ethics</a></li>
                                <li><a href="https://www.acm.org/about-acm/policy-against-harassment" target="_blank"
                                        rel="noopener noreferrer">ACM Policy Against Harassment (Code of Conduct)</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                {% include side.html %}

            </div>
        </div>
    </section>

    {% include footer.html %}
</body>

</html>
