---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>VISA INFORMATION</title>
  {% include head-tags.html %}
</head>

<body>

  {% include header.html %}
  {% include slider-regular-page.html title="VISA INFORMATION" %}

  <section id="visa-information">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6">
          <div class="block">
            <div>
              <h1>VISA INFORMATION</h1>

              <br><br><br> <p>TBC</p>
              
              <!-- <p>Please visit the Swedish Government website for useful information on the types of visas and documents required to enter Sweden: <a href="https://www.migrationsverket.se/en.html" target="_blank" rel="noopener noreferrer">https://www.migrationsverket.se/en.html</a></p> -->
              <!-- <\!-- <p>You are reminded that you may also require a transit visa if your travel includes stops in a third country. Please consult with your travel agent or with the authorities of any country you will be transiting through.</p> -\-> -->
              
              <!-- <\!-- <h2>What is a Uniform Schengen Visa?</h2> -->
              <!-- <p>The Uniform Schengen Visa, also known as short-term Schengen Visa, allows you to stay and travel in France and the Schengen Area for a maximum of 90 days per year. The visa does not allow you to work.</p> -->
              <!-- <p>For detailed information about the Schengen Area and its visa policies, visit this <a href="https://www.schengenvisainfo.com/">link</a>.</p> -\-> -->
              
              <!-- <\!-- <h2>Do I need a Schengen Visa?</h2> -->
              <!-- <p>Citizens of certain countries must hold a short stay visa. The EU has a common list of countries whose citizens must have a visa or are exempted from the obligation to hold a visa. <a href="https://www.schengenvisainfo.com/who-needs-schengen-visa/">Learn more here</a>.</p> -->
              
              <!-- <h2>How to apply for a Schengen Visa?</h2> -->
              <!-- <p>Please refer to the guidelines from the French Government on the procedures and conditions regarding the issuing of these visas <a href="https://france-visas.gouv.fr/en/web/france-visas">here</a>.</p> -\-> -->
              
              <!-- <\!-- <h2>Contact Information</h2> -->
              <!-- <p>Below you can find the conference organiser's address and phone number:</p> -->
              <!-- <address> -->
              <!--     <strong>Université Claude Bernard LYON 1</strong><br> -->
              <!--     43, boulevard du 11 Novembre 1918<br> -->
              <!--     69622 Villeurbanne, France<br> -->
              <!--     Phone: +33 (0)4 72 43 10 11 -->
              <!-- </address> -\-> -->
              
              <!-- <h2>Visa Support Letters</h2> -->
              
              <!-- <p>To receive an Invitation Letter for your Visa Application,</p> -->
              <!-- <ol> -->
              <!--     <li>Please complete the registration for the conference.</li> -->
              <!--     <li>When filling out the registration form, please indicate whether you would like to receive an invitation letter for obtaining a visa. If you need the letter to mention your passport number or other additional necessary information, please send such information to the General Chairs Vincenzo Gulisano (vincenzo.gulisano&lt;at&gt;chalmers.se) and Marina Papatriantafilou (ptrianta&lt;at&gt;chalmers.se).</li> -->
              <!--     <li>Once your registration is complete and the payment is received, an invitation letter will be sent to you via email.</li> -->
              <!-- </ol> -->
              <!-- <p>Please make sure to submit your visa application in due time based on your planned travel dates.</p> -->
 




              <!-- <p>If you need to apply for a visa, please contact the General Chairs Vincenzo Gulisano (vincenzo.gulisano&lt;at&gt;chalmers.se) and Marina Papatriantafilou (ptrianta&lt;at&gt;chalmers.se) to request an invitation letter.</p> -->
              <!-- <p>The Association for Computing Machinery does not issue formal invitation letters for visas to attend ACM sponsored conferences. ACM can however issue a visa support letter. ACM is able to provide visa support letters to attendees as well as authors with accepted papers, posters, or members of the conference committee.</p>
              <p>For visa support letters, refer all requests to <a href="mailto:supportletters@acm.org">supportletters@acm.org</a>. Please allow up to 10 business days to receive a letter. All requests are handled in the order they are received.</p>
              <p>The information below should be included with the request:</p>
              <ul class="nested-list2">
                  <li>Your name as it appears on your passport</li>
                  <li>Your current postal mailing address</li>
                  <li>The name of the conference you are registering for</li>
                  <li>Your registration confirmation number</li>
                  <li>If you have any papers accepted for the conference, please provide the title and indicate whether you are the "sole author" or a "co-author"</li>
                  <li>Authors may indicate their paper title. If no paper, speakers can provide the title of their presentation</li>
              </ul> -->
          

            </div>

          </div>
        </div>


        {% include side.html %}

      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
</html>
