---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>CALL FOR WORKSHOPS</title>
    {% include head-tags.html %}
</head>

<body>

    {% include header.html %}
    {% include slider-regular-page.html title="CALL FOR WORKSHOPS" %}

    <section id="call-for-workshops">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="block">
                        <div>
                            <h1>Objective</h1>
                            <p>
                                The ACM International Conference on Distributed and Event-Based Systems (DEBS) is soliciting proposals for affiliated workshops. The purpose of the workshops is to provide a forum for exchanging opinions, presenting ideas, and discussing preliminary results in an interactive atmosphere.
                            </p>

                            <p>
                                We seek proposals for workshops on any topics likely to be of interest to the DEBS community, which include (but are not limited to):
                            </p>
                            <ul>
                                <li>
                                    Models, Architectures and Paradigms: Event-driven architectures, real-time analytics, complex event processing, event processing in big data, stream processing, rule-based systems, logic-based event recognition, event correlation and pattern languages.
                                </li>
                                <li>
                                    Middleware infrastructures: Distributed data processing, distributed programming, federated event-based systems, information-centric networking, fault tolerance, reliability, availability, and scalability, as well as cloud, peer-to-peer, ubiquitous and mobile computing.
                                </li>
                                <li>
                                    Applications, Experience and Requirements: Use cases and applications of distributed and event-based systems in various domains including internet of things, cyber-physical systems, sensor networks, network monitoring, online machine learning, online graph algorithms, smart cities, smart grids, finance, healthcare, transportation, and logistics. Also, relevant topics span enterprise-level computing, including enterprise application integration, real-time enterprises, event-based business process management, and support for enterprises to respond in timely fashion to changing situations.
                                </li>
                            </ul>

                        </div>

                        <div>
                            <h1>Main Content</h1>
                            <p>
                                A workshop proposal should contain all pertinent information, including:
                            </p>
                            <ul>
                                <li>
                                    Workshop title
                                </li>
                                <li>
                                    A short (150-200 words) abstract of the topic and format of the workshop 
                                </li>
                                <li>
                                    A detailed explanation of why the proposed workshop is appropriate for DEBS 2024
                                </li>
                                <li>
                                    Names, affiliations and contact details of the workshop chair(s), publicity chair(s)
                                </li>
                                <li>
                                    Special considerations regarding proceedings (if any)
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h1>Organization</h1>
                            <p>
                                We also ask you to already provide some details regarding the organization of the proposed Workshop:
                            </p>
                            <ul>
                                <li>
                                    Tentative schedule including paper submission deadline, notification deadline, etc. <b>The camera-ready deadline must be on or before May 20th, 2024.</b>
                                </li>
                                <li>
                                    Expected number of participants
                                </li>
                                <li>
                                    In case of previous instances of the workshop:
                                    <ul>
                                        <li>
                                            the historical numbers of participants
                                        </li>
                                        <li>
                                            the historical submission and acceptance counts
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Preferred workshop duration (half day or full day)
                                </li>
                                <li>
                                    A description of the submission review process, including how conflicts of interest will be handled
                                </li>
                                <li>
                                    Rationale about recruiting the PC of the workshop, for example, diversity considerations (academia/industry, geography, gender, seniority, etc). These criteria should also be taken into account for the choice of the PC Chairs of each workshop.
                                </li>
                                <li>
                                    Tentative list of PC members
                                </li>
                                <li>
                                    Potential (or accepted) invited talks, keynotes, tutorials, or panels
                                </li>
                                <li>
                                    Publicity and sponsorship plans
                                </li>
                            </ul>
                        </div>

                        <div>
                            <h1>Organizational Details</h1>
                            <p>
                                The DEBS 2024 organization provides:
                            </p>
                            <ul>
                                <li>
                                    A link on the DEBS 2024 site
                                </li>
                                <li>
                                    Management of registration for participants (there is not difference in registration) 
                                </li>
                                <li>
                                    Setup of meeting space and related equipment (if conference happens in person)
                                </li>
                                <li>
                                    Coffee-breaks arrangements
                                </li>
                            </ul>
                            
                            <p>
                                The main responsibility of organizing a workshop goes to the chairs of the workshop. They must take care of the following tasks:
                            </p>
                            <ul>
                                <li>
                                    Set up and host a workshop webpage
                                </li>
                                <li>
                                    Prepare and issue the call for papers, and manage the whole submission and review process
                                </li>
                                <li>
                                    Coordinate paper deadlines and acceptance notifications with the DEBS 2024 Workshop Chairs
                                </li>
                                <li>
                                    Provide input for publicity to the local organizers of DEBS 2024
                                </li>
                                <li>
                                    Provide brief workshop description to include on the DEBS 2024 web page
                                </li>
                                <li>
                                    Schedule workshop activities in collaboration with the DEBS 2024 local organizers to adhere to a timetable that facilitates catering 
                                </li>
                                <li>
                                    Inform the Workshop Chairs of the numbers of submissions and acceptances as these numbers become available
                                </li>
                            </ul>
                        </div>
                        

                        <div>
                            <div>
                                <h1>Important Dates (AoE 11:59 pm)</h1> 
                            
                                <ul>
                                <li>
                                    Workshop Proposal due: <b>January 15th, 2024</b>
                                </li>
                                <li>
                                    Notification of proposal acceptance: <b>January 29th, 2024</b> (Early submissions get early notifications)
                                </li>
                                <li>
                                    Conference: <b>June 25th – 28th, 2024</b>
                                </li>
                                </ul>
    
                                <h2>Suggested Timeline for Workshop Chairs</h2>
                                <ul>
                                <li>
                                    Website online: <b>February 9th, 2024</b>
                                </li>
                                <li>
                                    Camera-ready version:<b> May 20th, 2024 (before the early bird registration) </b>
                                </li>
                                </ul>
                            </div>
                        </div>

                        <div>
                            <h1>Submissions</h1>
                            <p>
                                Submissions must be in the ACM format for conference proceedings. 
                                Only PDF documents will be accepted. Authors should make use of the <a href="https://www.acm.org/special-interest-groups">ACM SIGS Proceedings templates</a>. 
                                Proposal submissions should be done via EasyChair using this link 
                                <a href="https://easychair.org/conferences/?conf=debsws24">https://easychair.org/conferences/?conf=debsws24</a>. 
                                There is no page limit, but submissions are encouraged to be at most 4 (four) pages long. Clarity, completeness, and brevity 
                                are important aspects of a successful proposal. If you have any questions regarding the DEBS 2024 workshop proposals, 
                                you can contact the workshop chairs via EASYCHAIR EMAIL:
                            </p>
                            <ul>
                                <li>
                                    Andra Ionescu (TU Delft, The Netherlands)
                                </li>
                                <li>
                                    Pieter Bonte (KU Leuven, Belgium) 
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                {% include side.html %}
            </div>
    </section>

    {% include footer.html %}
</body>
</html>